<!--- BEGIN framework header -->
<!--- Usage: header of the global framework -->
<html>

<head>
<title>{GLOBAL_TITLE}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="themes/{THEME_NAME}/style.css">
</head>

<body>

<div class="headerbox"> <!--- Opening header -->
<p align="center"><img src="themes/header_img.png" alt="Logo"><br style="clear: both">
<font class="emphasis" style="font-size: 18.5px">{GLOBAL_TITLE}</font></p>
<!--- END framework header -->
