<!--- BEGIN admin controlpanel header -->
<!--- Usage: acp head frame -->
<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/{THEME_NAME}/Nuvola_apps_package_settings.png" alt="{LANG_ADMINISTRATOR} {LANG_CP_LOWERCASE}"></td>
<td><h2 class="install-header" align="center">{LANG_ADMINISTRATOR} {LANG_CP_LOWERCASE}</h2></td>
</tr>
<tr>
<td class="install-picture"></td>
<td>
<!--- ACP menu -->
<a href="control_admin.php?site=menus" alt="{LANG_MENUS_TOOLTIP}">{LANG_MENUS}</a> - <a href="control_admin.php?site=config" alt="{LANG_ADMINCFG_TOOLTIP}">{LANG_ADMINCFG}</a> - <a href="control_admin.php?site=forum" alt="{LANG_UCP_FORUM}">{LANG_UCP_FORUM}</a> - <a href="control_admin.php?site=news" alt="{LANG_UCP_NEWS}">{LANG_UCP_NEWS}</a> - <a href="control_admin.php?site=users">{LANG_ADMINUSERS}</a> - <a href="control_admin.php?site=logdump">Napló</a>
<!--- ACP menu -->
</td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">

<!--- HERE COMES THE BODY OF THE SCRIPT -->
<!--- END admin controlpanel header -->