<!--- BEGIN admin controlpanel header -->
<!--- Usage: acp head frame -->
<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/{THEME_NAME}/Nuvola_apps_package_settings.png" alt="Administrator control panel"></td>
<td><h2 class="install-header" align="center">Administrator control panel</h2></td>
</tr>
<tr>
<td class="install-picture"></td>
<td>
<!--- ACP menu -->
<a href="control_admin.php?site=menus" alt="Edit menus and menu items">Menus</a>
<!--- ACP menu -->
</td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">

<!--- HERE COMES THE BODY OF THE SCRIPT -->
<!--- END admin controlpanel header -->