<!--- BEGIN admin controlpanel header -->
<!--- Usage: acp head frame -->
<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/winky/Nuvola_apps_package_settings.png" alt="Adminisztrátori vezérlőpult"></td>
<td><h2 class="install-header" align="center">Adminisztrátori vezérlőpult</h2></td>
</tr>
<tr>
<td class="install-picture"></td>
<td>
<!--- ACP menu -->
<a href="control_admin.php?site=menus" alt="Menük és menüelemek kezelése">Menük</a> - <a href="control_admin.php?site=freeuni-backup-settings" alt="Szabadegyetem biztonsági mentési beállítások kezelése">Biztonsági mentések</a> - <a href="control_admin.php?site=logoutall" alt="Miden felhasználó kijelentkeztetése">Felhasználók kijelentkeztetése</a>
<!--- ACP menu -->
</td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">

<!--- HERE COMES THE BODY OF THE SCRIPT -->
<!--- END admin controlpanel header -->