<!--- BEGIN admin menus listmenus form -->
<!--- Usage: administrator control panel module 'menus' menu listing form of a menu -->
<table border="0" style="width: 100%">
<tr>
<th>{M_HEADER}</th>
<td>
<!--- Edit menu form -->
<form method="POST" action="control_admin.php">
<input type="hidden" name="site" value="menus">
<input type="hidden" name="m_subsite" value="edit_menu">
<input type="hidden" name="menu_id" value="{M_ID}">
<input type="submit" value="{LANG_EDIT}">
</form>
<!--- Edit menu form -->
</td>
<td>
<!--- Delete menu form -->
<form method="POST" action="control_admin.php">
<input type="hidden" name="site" value="menus">
<input type="hidden" name="m_subsite" value="delete_menu">
<input type="hidden" name="menu_id" value="{M_ID}">
<input type="submit" value="{LANG_DELETE}">
</form>
<!--- Delete menu form -->
</td>
</tr>
<tr>
<td>{LANG_MENUS_NUMOFITEMS}</td>
<td>{M_NUM_ITEMS}</td>
<td>
<!--- List items form -->
<form method="POST" action="control_admin.php">
<input type="hidden" name="site" value="menus">
<input type="hidden" name="m_subsite" value="list_items">
<input type="hidden" name="menu_id" value="{M_ID}">
<input type="submit" value="{LANG_MENUS_LIST_ITEMS}">
</form>
<!--- List items form -->
</td>
</tr>
</table>
<!--- END admin menus listmenus form -->