<!--- BEGIN admin menus createentry variable error -->
<!--- Usage: administrator control panel module 'menus' entry creation variable error box -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_filesystems_folder_txt.png" alt="Hiba!"></td>
		<td class="errortitle">Hiba!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">Nem töltöttél ki egy kötelező mezőt. {VARIABLE} nem lehet üres. A menüelem létrehozása nem folytatódhat amíg minden kötelező mező kitöltésre nem kerül.</td>
	</tr>
</table> <!--- copying the errorbox template -->
<form method="POST" action="control_admin.php">
<input type="hidden" name="label" value="{LABEL}">
<input type="hidden" name="href" value="{HREF}">
<input type="hidden" name="menu_id" value="{MENU_ID}">
<input type="hidden" name="site" value="menus">
<input type="hidden" name="m_subsite" value="create_entry">
<input type="hidden" name="error_goback" value="yes"> <!--- This is an error return -->
<input type="submit" value="<< Vissza">
</form>
<!--- END admin menus createentry error -->