<!--- BEGIN admin menus create success -->
<!--- Usage: administrator control panel module 'menus' menu creation success -->
<meta HTTP-EQUIV="REFRESH" content="5; url=control_admin.php?site=menus"> <!--- redirect to menu list --> 

<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/{THEME_NAME}/Nuvola_filesystems_folder_txt.png" alt="{LANG_SUCCESS_EXCLAMATION}"></td>
		<td class="successtitle">{LANG_MENUS_MENU_CREATE_SUCCESS_HEAD}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">{LANG_MENUS_MENU_CREATE_SUCCESS}
		<br><br>{LANG_MENUS_REDIRECT_MENULIST}<br>
		<a href="control_admin.php?site=menus">{LANG_REDIRECT_RETURN_LINK}</a></td>
	</tr>
</table> <!--- copying the successbox template -->
<!--- END admin menus create success -->