<!--- BEGIN admin menus editentry success -->
<!--- Usage: administrator control panel module 'menus' entry edition success -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/{THEME_NAME}/Nuvola_filesystems_folder_txt.png" alt="{LANG_SUCCESS_EXCLAMATION}"></td>
		<td class="successtitle">{LANG_MENUS_ENTRY_MODIFY_SUCCESS_HEAD}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">{LANG_MENUS_ENTRY_MODIFY_SUCCESS} {LANG_EXECUTED_SUCCESSFULLY}
		</td>
	</tr>
</table> <!--- copying the successbox template -->

<form method="POST" action="control_admin.php">
<input type="hidden" name="site" value="menus">
<input type="hidden" name="m_subsite" value="list_items">
<input type="hidden" name="menu_id" value="{MENU_ID}">
<input type="submit" value="{LANG_MENUS_BACKTO_ENTRY_LIST}">
</form>
<!--- END admin menus editentry success -->