<!--- BEGIN admin menus edit success -->
<!--- Usage: administrator control panel module 'menus' menu edition success -->
<meta HTTP-EQUIV="REFRESH" content="5; url=control_admin.php?site=menus"> <!--- redirect to menu list --> 

<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/winky/Nuvola_filesystems_folder_txt.png" alt="Siker!"></td>
		<td class="successtitle">A menü szerkesztve</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">A menü <tt>{TITLE}</tt> szerkesztése sikeresen lefutott.
		<br><br>Átirányítunk a menük listájához...<br>
		<a href="control_admin.php?site=menus">Kattints ide, ha a böngésződ nem irányítana át, vagy nem akarsz várni...</a></td>
	</tr>
</table> <!--- copying the successbox template -->
<!--- END admin menus edit success -->