<!--- BEGIN admin menus create form -->
<!--- Usage: administrator control panel module 'menus' menu creation form -->
<font class="emphasis">A vörös csillaggal (<span class="red-star">*</span>) jelölt mezőket kötelezően ki kell tölteni.</font>

<form method="POST" action="control_admin.php">
<span class="form-header">Új menü létrehozása</span><br>
Fejléc<span class="red-star">*</span>: <input type="text" name="title" value="{TITLE}" size=35><br>
Függőleges elhelyezkedés<span class="red-star">*</span>: <input type="text" name="align_pos" value="{ALIGN_POS}" size=10><br>
Oldalsáv<span class="red-star">*</span>: <input type="radio" name="side" value="left"{LEFT_SIDE}>Bal&nbsp;<input type="radio" name="side" value="right"{RIGHT_SIDE}>Jobb<br>
Elemek száma: 0<br>
<input type="hidden" name="site" value="menus">
<input type="hidden" name="m_subsite" value="create_menu_do">
<input type="submit" value="Menü létrehozása">
</form>
<!--- END admin menus create form -->