<!--- BEGIN admin menus create success -->
<!--- Usage: administrator control panel module 'menus' menu creation success -->
<meta HTTP-EQUIV="REFRESH" content="5; url=control_admin.php?site=menus"> <!--- redirect to menu list --> 

<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/winky/Nuvola_filesystems_folder_txt.png" alt="Success!"></td>
		<td class="successtitle">Created the menu</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">Creation of menu <tt>{TITLE}</tt> executed successfully.
		<br><br>You're being redirected to the menu list.<br>
		<a href="control_admin.php?site=menus">Click here if your browser does not redirect you or if don't want to wait...</a></td>
	</tr>
</table> <!--- copying the successbox template -->
<!--- END admin menus create success -->