<!--- BEGIN admin menus listentries header -->
<!--- Usage: administrator control panel module 'menus' menu listing form of entries -- header -->
<table border="0" style="width: 100%">
<tr>
<th>{M_HEADER}</th>
<td colspan="2">{LANG_MENUS_NUMOFITEMS}: {M_NUM_ITEMS}</td>
<td colspan="2">
<!--- New entry form -->
<form method="POST" action="control_admin.php">
<input type="hidden" name="site" value="menus">
<input type="hidden" name="m_subsite" value="create_entry">
<input type="hidden" name="menu_id" value="{M_ID}">
<input type="submit" value="{LANG_MENUS_ENTRY_CREATE_BUTTON}">
</form>
<!--- New entry form -->
</td>
</tr>
<tr>
<th>{LANG_MENUS_LABEL}</th>
<th>{LANG_URL}</th>
<th>{LANG_MENUS_LINK_TYPE}</th>
<td colspan="2" align="center">{LANG_ACTIONS}</td>
</tr>
<!--- END admin menus listentries header -->