<!--- BEGIN admin menus edit error -->
<!--- Usage: administrator control panel module 'menus' menu edition error (sql error) -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_filesystems_folder_locked.png" alt="Hiba!"></td>
		<td class="errortitle">Hiba!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">Az SQL lekérdezés futtatása közben hiba történt. Az menü nem lett módosítva.</td>
	</tr>
</table> <!--- copying the errorbox template -->

Ha újra szeretnéd próbálni, kattints a Vissza gombra.
<form method="POST" action="control_admin.php">
<input type="hidden" name="menu_id" value="{MENU_ID}">
<input type="hidden" name="title" value="{TITLE}">
<input type="hidden" name="align_pos" value="{ALIGN_POS}">
<input type="hidden" name="side" value="{SIDE}">
<input type="hidden" name="site" value="menus">
<input type="hidden" name="m_subsite" value="edit_menu">
<input type="hidden" name="error_goback" value="yes"> <!--- This is an error return -->
<input type="submit" value="<< Vissza">
</form>
<!--- END admin menus edit error -->