<!--- BEGIN admin menus listentries header -->
<!--- Usage: administrator control panel module 'menus' menu listing form of entries -- header -->
<table border="0" style="width: 100%">
<tr>
<th>{M_HEADER}</th>
<td colspan="2">Elemek száma: {M_NUM_ITEMS}</td>
<td colspan="2">
<!--- New entry form -->
<form method="POST" action="control_admin.php">
<input type="hidden" name="site" value="menus">
<input type="hidden" name="m_subsite" value="create_entry">
<input type="hidden" name="menu_id" value="{M_ID}">
<input type="submit" value="Menüelem hozzáadása">
</form>
<!--- New entry form -->
</td>
</tr>
<tr>
<th>Megjelenő szöveg</th>
<th>URL</th>
<th>Link típusa</th>
<td colspan="2" align="center">Akciók</td>
</tr>
<!--- END admin menus listentries header -->