<!--- BEGIN admin menus delmenu confirm -->
<!--- Usage: administrator control panel module 'menus' menu deletion confirmation template -->

<table class="messagebox"> <!--- copying the messagebox template -->
<tr>
<td class="messagepicture"><img src="themes/{THEME_NAME}/Nuvola_apps_kgpg.png" alt="Megerősítés szükséges"></td>
<td class="messagetitle">Kérlek erősítsd meg a menü '<tt>{M_NAME}</tt>' törlését</td>
</tr>
<tr>
<td style="width: 1"></td>
<td class="messagebody"><font class="emphasis">A menü törlése minden, a menühöz hozzáadott elemet is töröl.</font>
<table style="width: 100%"> <!--- Response forms table -->
<tr>
<td align="center">
<!--- Deletion -->
<form method="POST" action="control_admin.php">
<input type="hidden" name="site" value="menus">
<input type="hidden" name="m_subsite" value="delete_menu_confirmed">
<input type="hidden" name="menu_id" value="{MENU_ID}">
<input type="submit" value="Menü törlése">
</form>
</td>
<td align="center">
<!--- Cancel -->
<form method="POST" action="control_admin.php">
<input type="hidden" name="site" value="menus">
<input type="submit" value="Nem, meggondoltam magam">
</form>
</td>
</tr>
</table>

</td>
</tr>
</table> <!--- copying the messagebox template -->
<!--- END admin menus delmenu confirm -->