<!--- BEGIN admin menus createentry success -->
<!--- Usage: administrator control panel module 'menus' entry creation success -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/winky/Nuvola_filesystems_folder_txt.png" alt="Success!"></td>
		<td class="successtitle">Created the menu</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">Creation of entry <tt>{LABEL}</tt> executed successfully.</td>
	</tr>
</table> <!--- copying the successbox template -->

<form method="POST" action="control_admin.php">
<input type="hidden" name="site" value="menus">
<input type="hidden" name="m_subsite" value="list_items">
<input type="hidden" name="menu_id" value="{M_ID}">
<input type="submit" value="<< Back to item list">
<!--- END admin menus createentry success -->