<!--- BEGIN admin menus edit form -->
<!--- Usage: administrator control panel module 'menus' menu edition form -->
<font class="emphasis">{LANG_MANDATORY_VARIABLES_REDSTAR}</font>

<form method="POST" action="control_admin.php">
<span class="form-header">{LANG_MENUS_MENU_MODIFY_BUTTON}: {TITLE}</span><br>
{LANG_MENUS_TITLE}<span class="red-star">*</span>: <input type="text" name="title" value="{TITLE}" size=35><br>
{LANG_MENUS_ALIGN_POSITION}<span class="red-star">*</span>: <input type="text" name="align_pos" value="{ALIGN_POS}" size=10><br>
{LANG_MENUS_SIDE}<span class="red-star">*</span>: <input type="radio" name="side" value="left"{LEFT_SIDE}>Left&nbsp;<input type="radio" name="side" value="right"{RIGHT_SIDE}>Right<br>
{LANG_MENUS_NUMOFITEMS}: {M_NUM_ITEMS}<br>
<input type="hidden" name="site" value="menus">
<input type="hidden" name="m_subsite" value="edit_menu_do">
<input type="hidden" name="menu_id" value="{MENU_ID}">
<input type="submit" value="{LANG_MENUS_MENU_MODIFY_BUTTON}">
</form>
<!--- END admin menus edit form -->