<!--- BEGIN admin menus listentries entry -->
<!--- Usage: administrator control panel module 'menus' menu listing form of entries -- entry details -->
<tr>
<td>{E_LABEL}</td>
<td>{E_HREF}</td>
<td>{E_LINK_TYPE}</td>
<td>
<!--- Edit entry -->
<form method="POST" action="control_admin.php">
<input type="hidden" name="site" value="menus">
<input type="hidden" name="m_subsite" value="">
<input type="hidden" name="entry_id" value="{E_ID}">
<input type="button" value="Edit (unimplemented)">
</form>
<!--- Edit entry -->
</td>
<td>
<!--- Delete entry -->
<form method="POST" action="control_admin.php">
<input type="hidden" name="site" value="menus">
<input type="hidden" name="m_subsite" value="">
<input type="hidden" name="entry_id" value="{E_ID}">
<input type="button" value="Delete (unimplemented)">
</form>
<!--- Delete entry -->
</td>
</tr>
<!--- END admin menus listentries entry -->