<!--- BEGIN admin siteconfig variable error -->
<!--- Usage: acp site configuration writing error box (missing variable) -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_filesystems_folder_txt.png" alt="{LANG_ERROR_EXCLAMATION}"></td>
		<td class="errortitle">{LANG_ERROR_EXCLAMATION}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">{LANG_VAR_REQ_NOT_ENTERED} {LANG_ADMINCFG_VARIABLE_ERROR}</td>
	</tr>
</table> <!--- copying the errorbox template -->

{LANG_TO_RETRY_CLICK_BACK}
<form method="POST" action="control_admin.php">
<input type="hidden" name="error_goback" value="yes"> <!--- This is an error return -->
<input type="hidden" name="site" value="config">
<input type="submit" value="{LANG_BB_BACK}">
<input type="hidden" name="global_title" value="{GLOBAL_TITLE}">
<input type="hidden" name="site_host" value="{SITE_HOST}">
</form>
<!--- END admin siteconfig variable error -->