<!--- BEGIN admin siteconfig write success -->
<!--- Usage: acp config writing succes -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/{THEME_NAME}/Nuvola_filesystems_folder_txt.png" alt="{LANG_SUCCESS_EXCLAMATION}"></td>
		<td class="successtitle">{LANG_ADMINCFG_SUCCESS}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">{LANG_ADMINCFG_SUCCESS_1}</td>
	</tr>
</table> <!--- copying the successbox template -->

<form method="POST" action="control_admin.php">
<input type="submit" value="{LANG_BB_BACK}">
<input type="hidden" name="site" value="config">
</form>
<!--- END install config variable error -->
