<!--- BEGIN admin users delete -->
<!--- Usage: user delete form -->
<table class="messagebox"> <!--- copying the messagebox template -->
<tr>
<td class="messagepicture"><img src="themes/{THEME_NAME}/Nuvola_apps_kgpg.png" alt="{LANG_PLEASE_CONFIRM_EXCLAMATION}"></td>
<td class="messagetitle">{LANG_ADMINUSER_CONFIRM_DELETION} '<tt>{USERNAME}</tt>'</td>
</tr>
<tr>
<td style="width: 1"></td>
<td class="messagebody"><font class="emphasis">{LANG_ADMINUSER_CONFIRM_DELETE}</font>
<table style="width: 100%"> <!--- Response forms table -->
<tr>
<td align="center">
<!--- Deletion -->
<form method="POST" action="control_admin.php">
{LANG_USERNAME}: {USERNAME}<br>
<input type="hidden" name="action" value="delete" />
<input type="hidden" name="submit" value="mhm" />
<input type="hidden" name="site" value="users" />
<input type="hidden" name="id" value="{ID}" />
<input type="submit" value="{LANG_DELETE}">
</form>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!--- END admin users delete -->