<!--- BEGIN admin users pass success -->
<!--- Usage: password reset succes form -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/{THEME_NAME}/Nuvola_apps_kgpg.png" alt="{LANG_SUCCESS_EXCLAMATION}"></td>
		<td class="successtitle">{LANG_SUCCESS_EXCLAMATION}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">{LANG_PWDRECOVER_DO_SUCCESS}</td>
	</tr>
</table> <!--- copying the successbox template -->

{LANG_PROCEED_CLICK_BUTTON_BELOW}
<form method="GET" action="control_admin.php">
<input type="hidden" name="site" value="users" />
<input type="submit" value="{LANG_NEXT_NN}">
</form>
<!--- END admin users pass success -->