<!--- BEGIN admin users pass error -->
<!--- Usage: password reset error box (sql error) -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_apps_kgpg.png" alt={LANG_ERROR_EXCLAMATION}"></td>
		<td class="errortitle">{LANG_ERROR_EXCLAMATION}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">{LANG_PWDRECOVER_DO_UPDATE_ERROR} <tt>{ERR}</tt></td>
	</tr>
</table> <!--- copying the errorbox template -->

{LANG_TO_RETRY_CLICK_BACK}
<form method="POST" action="control_admin.php">
<input type="hidden" name="password" value="{PASSWORD}">
<input type="hidden" name="error_goback" value="yes"> <!--- This is an error return -->
<input type="submit" value="{LANG_BB_BACK}">
<input type="hidden" name="action" value="pass" />
<input type="hidden" name="id" value="{ID}" />
<input type="hidden" name="site" value="users" />
</form>
<!--- END admin users pass error -->