<!--- BEGIN freeuniversity3 survey like-notlike error -->
<!--- Usage: survey error box (most liked and most not liked lectures are the same) -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_filesystems_folder_txt.png" alt="Hiba!"></td>
		<td class="errortitle">Hiba!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">A <tt><u>Melyik előadás/program volt a kedvenced?</u></tt> és a <tt><u>Melyik előadás/program nyerte el a tetszésed legkevésbé?</u></tt> kérdésre adott válaszod megegyezik. Ez egy logikai tévedés, nem tarthatod ugyanazt az előadást a kedvencednek, és eközben a legjobban nemtetszőnek. Kérlek pontosítsd!</td>
	</tr>
</table> <!--- copying the errorbox template -->
<form method="POST" action="freeuni3_survey.php">
<input type="hidden" name="tetszes" value="{TETSZES}">
<input type="hidden" name="ujra" value="{UJRA}">
<input type="hidden" name="hasznos" value="{HASZNOS}">
<input type="hidden" name="liked" value="{LIKED}">
<input type="hidden" name="not_liked" value="{NOT_LIKED}">
<input type="hidden" name="moreprograms" value="{MOREPROGRAMS}">
<input type="hidden" name="audience" value="{AUDIENCE}">
<input type="hidden" name="tip" value="{TIP}">
<input type="hidden" name="boring" value="{BORING}">
<input type="hidden" name="aim" value="{AIM}">
<input type="hidden" name="activia" value="{ACTIVIA}">
<input type="hidden" name="error_goback" value="yes"> <!--- This is an error return -->
<input type="submit" value="<< Vissza">
</form>
<!--- END freeuniversity2 edit lecture variable error -->