<!--- BEGIN freeuniversity2 homepage lectures -->
<!--- Usage: freeuniversity my lectures (on the homepage) -->
<div id="menucontainer" style="width: {WIDTH}">
	<div id="header"><div id="header_left"></div>
	<div id="header_main">Előadásaid</div><div id="header_right"></div></div>
    <div id="content">
    
	
<table border="0" style="width:100%">
<tr>
<td align="center" valign="center"><img src="themes/winky/freeuni2_nolecture.gif" alt="Nem választottál"></td>
<th>Még nem választottál</th>
</tr>
<tr>
<td align="center" valign="center"><img src="themes/winky/freeuni2_yes.gif" alt="Választottál"></td>
<th>Választottál</th>
</tr>
</table>
<br>
<table border="0" style="width: 100%">
<tr>
<th colspan="4">Óra</th>
</tr>
<tr>
<th>1.</th>
<th>2.</th>
<th>3.</th>
<th>4.</th>
</tr>
<tr>
<td>{HOUR1}</td>
<td>{HOUR2}</td>
<td>{HOUR3}</td>
<td>{HOUR4}</td>
</tr>
</table>

</div>
<div id="footer"><a href="freeuni2_lecture_manage.php" alt="A jelentkezett előadások megtekintése/lemondása">Részletek</a> - <a href="freeuni2_lecture_select.php" alt="Előadásra jelentkezés">Előadásra jelentkezés</a></div>
</div>
<br>
<!--- END freeuniversity2 homepage lectures -->