<!--- BEGIN freeuniversity2 homepage lectures guest -->
<!--- Usage: freeuniversity my lectures [for guests] (on the homepage) -->
<div id="menucontainer" style="width:{WIDTH}">
	<div id="header"><div id="header_left"></div>
	<div id="header_main">Előadásaid</div><div id="header_right"></div></div>
    <div id="content">
    
	
<table border="0" style="width:100%">
<tr>
<td align="center" valign="center"><img src="themes/winky/freeuni2_nolecture.gif" alt="Nem választottál"></td>
<th>Még nem választottál</th>
</tr>
<tr>
<td align="center" valign="center"><img src="themes/winky/freeuni2_yes.gif" alt="Választottál"></td>
<th>Választottál</th>
</tr>
</table>
<br>
Az előadásválasztásod állapota bejelentkezés után megtekinthető.

</div>
<div id="footer"></div>
</div>
<br>
<!--- END freeuniversity2 homepage lectures guest -->