<!--- BEGIN freeuniversity2 manage lecture error -->
<!--- Usage: managing lecture depick error (sql) -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_filesystems_folder_txt.png" alt="Hiba!"></td>
		<td class="errortitle">Hiba!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">A lekérdezés futtatása közben hiba történt, nem tudtunk a kiválasztott előadásról lemondani. A lemondás meghiúsult.</td>
	</tr>
</table> <!--- copying the errorbox template -->

<a href="freeuni2_lecture_manage.php"><< Vissza a listához</a>
<!--- END freeuniversity2 manage lecture error -->