<!--- BEGIN freeuniversity2 select lecture error already -->
<!--- Usage: selecting lecture selection ALREADY error -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/freeuni2_already.gif" alt="Már választottál az adott órára előadást"></td>
		<td class="errortitle">A kiválasztott órára ({HOUR}.) már választottál előadást</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">Amíg a kiválasztott előadást nem mondod le, nem tudsz újat választani.</td>
	</tr>
</table> <!--- copying the errorbox template -->

<a href="freeuni2_lecture_select.php"><< Vissza a listához</a>
<!--- END freeuniversity2 select lecture error already -->