<!--- BEGIN freeuniversity2 select lecture error -->
<!--- Usage: selecting lecture selection error (sql) -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_filesystems_folder_txt.png" alt="Hiba!"></td>
		<td class="errortitle">Hiba!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">A lekérdezés futtatása közben hiba történt, nem tudtunk a kiválasztott előadáshoz hozzárendelni. A hozzárendelés meghiúsult.</td>
	</tr>
</table> <!--- copying the errorbox template -->

<a href="freeuni2_lecture_select.php"><< Vissza a listához</a>
<!--- END freeuniversity2 select lecture error -->