<!--- BEGIN freeuniversity2 add lecture sucess -->
<!--- Usage: lecture adding success, forward form -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/winky/Nuvola_apps_ksnapshot.png" alt="Siker!"></td>
		<td class="successtitle">Sikeresen hozzáadva!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">Az előadás hozzáadása sikerült.</td>
	</tr>
</table> <!--- copying the successbox template -->
<!--- END freeuniversity2 add lecture sucess -->