<!--- BEGIN freeuniversity2 select lecture table-open -->
<!--- Usage: selecting lecture opening list table -->
Az előadásra jelentkezéshez kattints a kiválasztott előadás sorában és a kiválasztott óra oszlopában a gombra.<br>
Ha a gomb nem jelenik meg, a helyette megjelenő kódok feloldása (értelmezése) a következő:
<ul>
	<li><img src="themes/winky/freeuni2_already.gif" alt="Már választottál az adott órára előadást">&nbsp;<i>Foglalt</i>: Te már választottál a megadott órára előadást.</li>
	<li><img src="themes/winky/freeuni2_nolecture.gif" alt="Az előadás ebben az órában nem kerül megrendezésre">&nbsp;<i>Nincs</i>: Az előadás a megadott órában nem kerül megrendezésre.</li>
	<li><img src="themes/winky/freeuni2_limit.gif" alt="Az előadásra ebben az órában jelentkezők száma elérte a határértéket">&nbsp;<i>Betelt</i>: Az előadásra jelentkezett diákok száma elérte a határértéket.</li>
</ul>

<table border="1" style="width: 100%">
<tr>
<th>Előadás neve&nbsp;<img src="themes/winky/s_asc.png" alt="Növekvő rendezés"></th>
<th>Előadó neve</th>
<th>1. óra</th>
<th>2. óra</th>
<th>3. óra</th>
<th>4. óra</th>
</tr>
<!--- END freeuniversity2 select lecture table-open -->