<!--- BEGIN freeuniversity2 manage lecture success -->
<!--- Usage: lecture managing depick success, forward form -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/winky/Nuvola_filesystems_folder_image.png" alt="Siker!"></td>
		<td class="successtitle">Sikeresen lemondás!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">Az előadás lemondása sikeres volt.</td>
	</tr>
</table> <!--- copying the successbox template -->

<a href="freeuni2_lecture_manage.php"><< Vissza a listához</a>
<!--- END freeuniversity2 manage lecture success -->