<!--- BEGIN freeuniversity2 manage lecture head -->
<!--- Usage: managing lecture header -->
<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/winky/Nuvola_filesystems_folder_image.png" alt="Előadásaim  megtekintése"></td>
<td><h2 class="install-header" align="center">Előadásaim megtekintése</h2></td>
</tr>
<tr>
<td class="install-picture"></td>
<td>
</td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">
<!--- HERE COMES THE BODY OF THE SCRIPT -->
<!--- END freeuniversity2 manage lecture head -->