<!--- BEGIN freeuniversity2 lecture list head -->
<!--- Usage: lecture listing header -->
<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/winky/Nuvola_apps_kate.png" alt="Előadások listázása"></td>
<td><h2 class="install-header" align="center">Előadások listázása</h2></td>
</tr>
<tr>
<td class="install-picture"></td>
<td>
</td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">
<!--- HERE COMES THE BODY OF THE SCRIPT -->
<!--- END freeuniversity2 lecture list head -->