<!--- BEGIN freeuniversity2 edit lecture sucess -->
<!--- Usage: lecture editing success, forward form -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/winky/Nuvola_apps_ksnapshot.png" alt="Siker!"></td>
		<td class="successtitle">Sikeresen módosítva!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">Az előadás módosítása sikerült.</td>
	</tr>
</table> <!--- copying the successbox template -->

<a href="freeuni2_list_lectures.php" alt="Előadások listázása"><< Vissza a listához</a><br>
<!--- END freeuniversity2 edit lecture sucess -->