<!--- BEGIN freeuniversity2 select lecture error nolecture -->
<!--- Usage: selecting lecture selection NO LECTURE error -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/freeuni2_nolecture.gif" alt="Az előadás ebben az órában nem kerül megrendezésre"></td>
		<td class="errortitle">A kiválasztott órában ({HOUR}.) az előadás nem kerül megrendezésre</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">A kiválasztott előadást az adott órában nem tartják meg, így most nem tudsz jelentkezni.</td>
	</tr>
</table> <!--- copying the errorbox template -->

<a href="freeuni2_lecture_select.php"><< Vissza a listához</a>
<!--- END freeuniversity2 select lecture error nolecture -->