<!--- BEGIN freeuniversity2 lecture list table-open -->
<!--- Usage: lecture listing table head -->
Ha a cellában a <img src="themes/winky/freeuni2_nolecture.gif" alt="Az előadás ebben az órában nem kerül megrendezésre"> kép jelenik meg, az azt jelenti, hogy az előadás az adott órában nem kerül megtartásra.<br>
<br>
<font class="emphasis">FONTOS!</font> Technikai okokból az előadás szerkesztésekor az új limit nem lehet kisebb, mint a már feljelentkezett diákok száma. Kerülőútként használható az előadás szerkesztésekor az a módszer, hogy az adott órában letiltjuk, majd újra szerkesztve újra felvesszük az új limittel.<br>
A diákok számára kattintva lekérhető az adott órában az adott előadásra jelentkezett diákok listája.
<br><br>
<table border="0" style="width: 100%">
<tr>
<th rowspan="2">Előadás neve&nbsp;<img src="themes/winky/s_asc.png" alt="Növekvő rendezés"></th>
<th rowspan="2">Előadó neve</th>
<th colspan="4">Diákok száma / limit - az adott órában</th>
<th rowspan="2"><img src="themes/winky/freeuniversity_flower.gif" alt="Adminisztrátor specifikus opció/elemeket tartalmaz">&nbsp;Szerkesztés</th>
<th rowspan="2"><img src="themes/winky/freeuniversity_flower.gif" alt="Adminisztrátor specifikus opció/elemeket tartalmaz">&nbsp;Törlés</th>
</tr>
<tr>
<th>1.</th>
<th>2.</th>
<th>3.</th>
<th>4.</th>
</tr>
<!--- END freeuniversity2 lecture list table-open -->