<!--- BEGIN freeuniversity2 select lecture success -->
<!--- Usage: lecture selecting success, forward form -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/winky/Nuvola_filesystems_desktop.png" alt="Siker!"></td>
		<td class="successtitle">Sikeresen jelentkeztél!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">Az előadásra jelentkezésed sikeres volt.</td>
	</tr>
</table> <!--- copying the successbox template -->


<a href="freeuni2_lecture_select.php"><< Vissza a listához</a>
<!--- END freeuniversity2 select lecture success -->