<!--- BEGIN freeuniversity2 select lecture error limit -->
<!--- Usage: selecting lecture selection LIMIT error -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/freeuni2_limit.gif" alt="Az előadásra ebben az órában jelentkezők száma elérte a határértéket"></td>
		<td class="errortitle">A kiválasztott órában ({HOUR}.) az előadásra túl sokan jelentkeztek.</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">Az adott órára jelentkezett diákok száma elérte az előadás maximumát. Erre az órára nem tudsz jeletkezni.</td>
	</tr>
</table> <!--- copying the errorbox template -->

<a href="freeuni2_lecture_select.php"><< Vissza a listához</a>
<!--- END freeuniversity2 select lecture error already -->