<!--- BEGIN freeuniversity2 relation list table-open -->
<!--- Usage: relation list opening list table -->
Diákok, akik a(z) <font class="emphasis">{HOUR}</font>. órában a(z) <font class="emphasis">{LECTURE_NAME}</font> előadásra jelentkeztek ({STUD_COUNT} db).

<table border="1" style="width: 100%">
<tr>
<th>#</th>
<th>Diák neve&nbsp;<img src="themes/winky/s_asc.png" alt="Növekvő rendezés"></th>
<th>Osztály</th>
<th>Kényszeroldás</th>
<th>Aláírás</th>
</tr>
<!--- END freeuniversity2 relation list table-open -->