<!--- BEGIN freeuniversity2 list table-open -->
<!--- Usage: listing table head -->
Ha a cellában a <img src="themes/winky/freeuni2_nolecture.gif" alt="Még nem választott"> kép jelenik meg, az azt jelenti, hogy a diák még nem választott előadást az adott órában.
<br>
<table border="1" style="width: 100%">
<tr>
<th rowspan="2">#</th>
<th rowspan="2">Diák neve <img src="themes/winky/s_asc.png" alt="Növekvő rendezés"></th>
<th colspan="4">Választott előadás az adott órában</th>
</tr>
<tr>
<th>1.</th>
<th>2.</th>
<th>3.</th>
<th>4.</th>
</tr>
<!--- END freeuniversity2 list table-open -->