<!--- BEGIN news list missing error -->
<!--- Usage: news entry listing error box (the entry is missing) -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_filesystems_folder_txt.png" alt="{LANG_ERROR_EXCLAMATION}"></td>
		<td class="errortitle">{LANG_ERROR_EXCLAMATION}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">{LANG_NEWS_ENTRY_MISSING}</td>
	</tr>
</table> <!--- copying the errorbox template -->
<form method="POST" action="news.php">
<input type="submit" value="{LANG_BB_BACK}">
</form>
<!--- END news list missing error -->