<!--- BEGIN news more -->
<!--- Usage: template for outputting full news entry -->
<tr>
	<td class="post-post-container" valign="top">
		<table class="post-post-container" border="0" valign="top">
			<tr>
				<td class="post-head" align="left" valign="top">{TITLE}</td>
				<td class="post-head" align="right" valign="top">{DATE}</td>
			</tr>
			<tr>
				<td class="news-description" colspan="2">{DESCRIPTION}</td>
			</tr>
			<tr>
				<td class="post-post" colspan="2">{CONTENT}</td>
			</tr>
		</table>
		
		<table border="0" align="right">
			<tr>
				<td valign="bottom" align="center">{EDIT}</td>
				<td valign="bottom" align="center">{DELETE}</td>
			</tr>
		</table>
	</td>
</tr>
<!--- END news more -->