<!--- BEGIN news newsentry variable error -->
<!--- Usage: news entry adding, variable error (missing mandatory field) box -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_filesystems_folder_txt.png" alt="{LANG_ERROR_EXCLAMATION}"></td>
		<td class="errortitle">{LANG_ERROR_EXCLAMATION}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">{LANG_VAR_REQ_NOT_ENTERED} {LANG_NEWS_NEWENTRY_VARIABLE_ERROR}</td>
	</tr>
</table> <!--- copying the errorbox template -->
<form method="POST" action="news.php">
<input type="hidden" name="title" value="{TITLE}">
<input type="hidden" name="description" value="{DESCRIPTION}">
<input type="hidden" name="content" value="{CONTENT}">
<input type="hidden" name="commentable" value="{COMMENTABLE}">
<input type="hidden" name="action" value="newentry">
<input type="hidden" name="error_goback" value="yes"> <!--- This is an error return -->
<input type="submit" value="{LANG_BB_BACK}">
</form>
<!--- END news newenty variable error -->