<?php
 /**
 * {LANG_WHISPYFORUM} {LANG_FILE} - config.php
 * 
 * {LANG_INSTALL_CONFIG_DESCRIPTION}
 * 
 * {LANG_INSTALL_CONFIG_DESCRIPTION_1}
 * 
 * {LANG_INSTALL_CONFIG_STAMP}
 * {LANG_WHISPYFORUM}
 */
global $cfg; // {LANG_INSTALL_CONFIG_GLOBAL}

$cfg = array(
	"dbhost"	=>	"{DBHOST}", // {LANG_SQL_DB_HOST}
	"dbuser"	=>	"{DBUSER}", // {LANG_SQL_DB_USER}
	"dbpass"	=>	"{DBPASS}", // {LANG_SQL_DB_PASS}
	"dbname"	=>	"{DBNAME}", // {LANG_SQL_DB_NAME}
); // {LANG_INSTALL_CONFIG_ARRAY_POSTSCRIPT}

define('WHISPYFORUM', "{UUID}"); // {LANG_INSTALL_CONFIG_TOKEN}
define('INSTALL_DATE', "{GDATE}"); // {LANG_INSTALL_CONFIG_INSTALLDATE}
?>
