<!--- BEGIN install database tables creator error -->
<!--- Usage: database tables creator error box -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_devices_raid.png" alt="{LANG_INSTALL_DBTABLES_ALT}"></td>
		<td class="errortitle">{LANG_INSTALL_DBTABELS_GLOBAL_ERROR}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">{LANG_INSTALL_DBTABLES_GLOBAL_ERROR_BODY}</td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- retry form -->
{LANG_TO_RETRY_CLICK_BUTTON}
<form method="POST" action="install.php">
<input type="submit" value="{LANG_REFRESH}">
<input type="hidden" name="ins_lang" value="{INSTALL_LANGUAGE}">
<input type="hidden" name="ins_thm" value="{INSTALL_THEME}">
<input type="hidden" name="instPos" value=5> <!--- same step -->
</form>
<!--- END install database tables creator error -->
