<!--- BEGIN install framework tablecreator header -->
<!--- Usage: table creation head frame -->
<table class="install-header" border="1">
<tr>
<td class="install-picture"><img src="themes/winky/Nuvola_devices_raid.png" alt="Installer wizard"></td>
<td><h1 class="install-header" align="center">Installer - Database</h1></td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="1" class="install-center">
<tr>
<td class="install-block-left">

<!--- HERE COMES THE BODY OF THE SCRIPT (errors, succeeds, global error, global succeed) -->
<!--- END install framework tablecreator header -->