<!--- BEGIN install adminuser variable error -->
<!--- Usage: admin user empty variable error box -->
<html>

<head>
<title>Installer - Administrator user</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>

<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/winky/Nuvola_apps_kgpg.png" alt="Installer wizard"></td>
<td><h1 class="install-header" align="center">Installer - Administrator user</h1></td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_filesystems_folder_txt.png" alt="Error!"></td>
		<td class="errortitle">Error!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">You didn't entered one of the required variables, {VARIABLE} cannot be empty. The installation cannot continue until every required variable is entered.</td>
	</tr>
</table> <!--- copying the errorbox template -->
<form method="POST" action="install.php">
<input type="hidden" name="root_name" value="{ROOT_NAME}">
<input type="hidden" name="root_pass" value="{ROOT_PASS}">
<input type="hidden" name="root_email" value="{ROOT_EMAIL}">
<input type="hidden" name="error_goback" value="yes"> <!--- This is an error return -->
<input type="submit" value="<< Back">
<input type="hidden" name="instPos" value=6> <!--- Going back to step 7 -->
</form>
</td>
<td class="install-block-right" valign="top">
<!--- menubox -->
<div id="menucontainer">
	<div id="header"><div id="header_left"></div>
	<div id="header_main">Install menu</div><div id="header_right"></div></div>
    <div id="content">
        <span class="install-menu-entries">1. Introduction</span><br>
		<span class="install-menu-entries">2. Configuration file</span><br>
		<span class="install-menu-entries">3. Writing configuration file.</span><br>
		<span class="install-menu-entries">4. Testing database connection</span><br>
		<span class="install-menu-entries">5. Creating database</span><br>
		<span class="install-menu-entries">6. Creating table structure and content</span><br>
		<span class="install-menu-entries">7. Administrator user</span><br>
		<span class="install-menu-actual">8. Creating Administrator user</span><br>
		<span class="install-menu-entries">9. Finish</span>
    </div>
</div>
<!--- menubox -->
</td>
</tr>
</table>

</body>
</html>
<!--- END install adminuser variable error -->