<!--- BEGIN install framework tablecreator footer -->
<!--- Usage: table creation foot frame -->

<!--- BODY END -->
<!--- Here comes the close of the table-div, and the menu -->
</td>
<td class="install-block-right" valign="top">
<!--- menubox -->
<div id="menucontainer">
	<div id="header"><div id="header_left"></div>
	<div id="header_main">{LANG_INSTALL_MENU}</div><div id="header_right"></div></div>
    <div id="content">
        <span class="install-menu-entries">{LANG_INSTALL_STEP_1}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_2}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_3}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_4}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_5}</span><br>
		<span class="install-menu-actual">{LANG_INSTALL_STEP_6}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_7}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_8}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_9}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_10}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_11}</span>
    </div>
</div>
<!--- menubox -->
</td>
</tr>
</table>

</body>
</html>
<!--- END install framework tablecreator footer -->
