<!--- BEGIN install start already existing error -->
<!--- Usage: first install screen with introduction, giving "already installed" error due to existing config.php -->
<html>

<head>
<title>Installer - Introduction</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>


<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/{THEME_NAME}/Nuvola_apps_package_applications.png" alt="Installer wizard"></td>
<td><h1 class="install-header" align="center">Installer - Introduction</h1></td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">

<!--- Language modifier form -->
<form method="POST" action="install.php">
{LANG_INSTALL_LANGUAGE} <select size="1" name="ins_lang">
{INSTALL_LANGUAGES}
</select><br>
<input type="hidden" name="instPos" value="0">
<input type="submit" value="{LANG_SITEPREF_MODIFY_LANGUAGE}">
</form>
<!--- Language modifier form -->

<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_filesystems_folder_locked.png" alt="Already installed!"></td>
		<td class="errortitle">WhispyForum is already installed</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">It seems that WhispyForum is already installed.
<br><br>
Reinstalling the system can produce a lot of stability and incompatibility issues. Primarily, when the installer creates the database table entries, it can truncate/rewrite/append tables that shouldn't be accessed in such ways. On the other hand, the configuration file can get corrupted.
<br><br>
Before we can move on installing the system, you have to make your data safe. Create a database backup, and drop every tables from the database. After that, delete <tt>config.php</tt> from the server root directory.
<br><br>
<small>Existing configuration detected. Setup process terminated.</small></td>
	</tr>
</table> <!--- copying the errorbox template -->
To refresh the page, click the button.
<!--- refresh form -->
<form method="POST" action="install.php">
<input type="submit" value="Refresh">
</form>
</td>
<td class="install-block-right" valign="top">
<!--- menubox -->
<div id="menucontainer">
	<div id="header"><div id="header_left"></div>
	<div id="header_main">Install menu</div><div id="header_right"></div></div>
    <div id="content">
        <span class="install-menu-actual">1. Introduction</span><br>
		<span class="install-menu-entries">2. Configuration file</span><br>
		<span class="install-menu-entries">3. Writing configuration file.</span><br>
		<span class="install-menu-entries">4. Testing database connection</span><br>
		<span class="install-menu-entries">5. Creating database</span><br>
		<span class="install-menu-entries">6. Creating table structure and content</span><br>
		<span class="install-menu-entries">7. Administrator user</span><br>
		<span class="install-menu-entries">8. Creating Administrator user</span><br>
		<span class="install-menu-entries">9. Finish</span>
    </div>
</div>
<!--- menubox -->
</td>
</tr>
</table>

</body>
</html>
<!--- END install start already existing error -->
