<!--- BEGIN install database tables creator global success -->
<!--- Usage: database tables creator global success box -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/{THEME_NAME}/Nuvola_devices_raid.png" alt="Database table creation"></td>
		<td class="successtitle">All tables created successfully</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">All tables have been created successfully.</td>
	</tr>
</table> <!--- copying the successbox template -->
You can proceed to the next step.
<!--- proceed form -->
<form method="POST" action="install.php">
<input type="submit" value="Next >>">
<input type="hidden" name="instPos" value=6> <!--- Going to step 7 -->
</form>
<!--- END install database tables creator success -->