<!--- BEGIN install database connection test error -->
<!--- Usage: database connection test error box -->
<html>

<head>
<title>{LANG_INSTALL_INSTALLER} - {LANG_INSTALL_DBTEST}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>

<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/{THEME_NAME}/Nuvola_devices_raid.png" alt="{LANG_INSTALL_WIZARD}"></td>
<td><h1 class="install-header" align="center">{LANG_INSTALL_INSTALLER} - {LANG_INSTALL_DBTEST}</h1></td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_devices_raid.png" alt="{LANG_SQL_CONNECTION_ERROR}"></td>
		<td class="errortitle">{LANG_SQL_NOCONNECTION}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">{LANG_SQL_DBCONN_TO} <tt>{DBHOST}</tt> ({LANG_USER} <tt>{DBUSER}</tt>, {LANG_SQL_USING_PASSWORD} <tt>{USE_PASS}</tt>) {LANG_COULD_NOT_BE_MADE}</td>
	</tr>
</table> <!--- copying the errorbox template -->

{LANG_TO_RETRY_CLICK_BUTTON}
<!--- refresh form -->
<form method="POST" action="install.php">
<input type="submit" value="{LANG_REFRESH}">
<input type="hidden" name="ins_lang" value="{INSTALL_LANGUAGE}">
<input type="hidden" name="ins_thm" value="{INSTALL_THEME}">
<input type="hidden" name="instPos" value=3> <!--- same step -->
</form>

{LANG_INSTALL_DBTEST_CONFIG_REENTER}
<!--- config file return form -->
<form method="POST" action="install.php">
<input type="submit" value="{LANG_BB_BACK}">
<input type="hidden" name="ins_lang" value="{INSTALL_LANGUAGE}">
<input type="hidden" name="ins_thm" value="{INSTALL_THEME}">
<input type="hidden" name="error_goback" value="no"> <!--- this isn't true because we aren't returning config values -->
<input type="hidden" name="instPos" value=1> <!--- back to step 2 -->
</form>

</td>
<td class="install-block-right" valign="top">
<!--- menubox -->
<div id="menucontainer">
	<div id="header"><div id="header_left"></div>
	<div id="header_main">{LANG_INSTALL_MENU}</div><div id="header_right"></div></div>
    <div id="content">
        <span class="install-menu-entries">{LANG_INSTALL_STEP_1}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_2}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_3}</span><br>
		<span class="install-menu-actual">{LANG_INSTALL_STEP_4}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_5}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_6}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_7}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_8}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_9}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_10}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_11}</span>
    </div>
</div>
<!--- menubox -->
</td>
</tr>
</table>

</body>
</html>
<!--- END install database connection test error -->
