<!--- BEGIN install database tables creator global success -->
<!--- Usage: database tables creator global success box -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/winky/Nuvola_devices_raid.png" alt="Database table creation"></td>
		<td class="successtitle">All tables created successfully</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">All tables have been created successfully.</td>
	</tr>
</table> <!--- copying the successbox template -->
<!--- proceed form -->
<!--- END install database tables creator success -->