<!--- BEGIN install database tables creator global success -->
<!--- Usage: database tables creator global success box -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/{THEME_NAME}/Nuvola_devices_raid.png" alt="{LANG_INSTALL_DBTABLES_ALT}"></td>
		<td class="successtitle">{LANG_INSTALL_DBTABLES_GLOBAL_SUCCESS}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">{LANG_INSTALL_DBTABLES_GLOBAL_SUCCESS_BODY}</td>
	</tr>
</table> <!--- copying the successbox template -->
{LANG_PROCEED_CLICK_BUTTON_BELOW}
<!--- proceed form -->
<form method="POST" action="install.php">
<input type="submit" value="{LANG_NEXT_NN}">
<input type="hidden" name="ins_lang" value="{INSTALL_LANGUAGE}">
<input type="hidden" name="ins_thm" value="{INSTALL_THEME}">
<input type="hidden" name="instPos" value=6> <!--- Going to step 7 -->
</form>
<!--- END install database tables creator success -->
