<!--- BEGIN install database tables creator error -->
<!--- Usage: database tables creator error box -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_devices_nfs_mount.png" alt="{LANG_INSTALL_DBTABLES_ALT}"></td>
		<td class="errortitle">{LANG_INSTALL_DBTABLES_TBL_ERROR}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">{LANG_INSTALL_DBTABLES_TBL_ERROR_BODY}</td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END install database tables creator error -->
