<!--- BEGIN install database connection test success -->
<!--- Usage: database connection test success box -->
<html>

<head>
<title>Installer - Database</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>

<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/winky/Nuvola_devices_raid.png" alt="Installer wizard"></td>
<td><h1 class="install-header" align="center">Installer - Database</h1></td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/winky/Nuvola_devices_raid.png" alt="Success!"></td>
		<td class="successtitle">Connection successful</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">Database connection to <tt>{DBHOST}</tt> (user <tt>{DBUSER}</tt>, using password: <tt>{USE_PASS}</tt>) was made successfully.</td>
	</tr>
</table> <!--- copying the successbox template -->

You can proceed to the next step.
<!--- refresh form -->
<form method="POST" action="install.php">
<input type="submit" value="Next >>">
<input type="hidden" name="instPos" value=4> <!--- proceeding to database creation (step 5) -->
</form>
</td>
<td class="install-block-right" valign="top">
<!--- menubox -->
<div id="menucontainer">
	<div id="header"><div id="header_left"></div>
	<div id="header_main">Install menu</div><div id="header_right"></div></div>
    <div id="content">
        <span class="install-menu-entries">1. Introduction</span><br>
		<span class="install-menu-entries">2. Configuration file</span><br>
		<span class="install-menu-entries">3. Writing configuration file.</span><br>
		<span class="install-menu-actual">4. Testing database connection</span><br>
		<span class="install-menu-entries">5. Creating database</span><br>
		<span class="install-menu-entries">6. Creating table structure and content</span><br>
		<span class="install-menu-entries">7. Administrator user</span><br>
		<span class="install-menu-entries">8. Creating Administrator user</span><br>
		<span class="install-menu-entries">9. Finish</span>
    </div>
</div>
<!--- menubox -->
</td>
</tr>
</table>

</body>
</html>
<!--- END install database connection test success -->