<!--- BEGIN install database tables creator success -->
<!--- Usage: database tables creator success box -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/{THEME_NAME}/Nuvola_devices_nfs_mount.png" alt="{LANG_INSTALL_DBTABLES_ALT}"></td>
		<td class="successtitle">{LANG_INSTALL_DBTABLES_SUCCESS}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">{LANG_INSTALL_DBTABLES_SUCCESS_BODY}</td>
	</tr>
</table> <!--- copying the successbox template -->
<!--- END install database tables creator success -->
