<!--- BEGIN install database tables creator error -->
<!--- Usage: database tables creator error box -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_devices_nfs_mount.png" alt="Database table creation"></td>
		<td class="errortitle">Failed to create table <tt>{TABLENAME}</tt></td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">The creation of this table has failed. The other tables are being created, however, you cannot proceed to the next step.</td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END install database tables creator error -->