<!--- BEGIN install adminuser -->
<!--- Usage: administrator registration form - getting user data -->
<html>

<head>
<title>{LANG_INSTALL_INSTALLER} - {LANG_INSTALL_ADMIN}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>

<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/{THEME_NAME}/Nuvola_apps_kgpg.png" alt="{LANG_INSTALL_WIZARD}"></td>
<td><h1 class="install-header" align="center">{LANG_INSTALL_INSTALLER} - {LANG_INSTALL_ADMIN}</h1></td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">
{LANG_INSTALL_ADMIN_INFO}<br>
<font class="emphasis">{LANG_MANDATORY_VARIABLES_REDSTAR}</font>
<br><br>
<form method="POST" action="install.php">
<span class="form-header">{LANG_REG_DATA_FORM_HEADER}</span><br>
{LANG_USERNAME}<span class="red-star">*</span>: <input type="text" name="root_name" value="{ROOT_NAME}" size=35><br>
{LANG_PASSWORD}<span class="red-star">*</span>: <input type="password" name="root_pass" value="{ROOT_PASS}" size=35><br>
{LANG_EMAIL}<span class="red-star">*</span>: <input type="text" name="root_email" value="{ROOT_EMAIL}" size=35><br>
<input type="submit" value="{LANG_NEXT_NN}">
<input type="hidden" name="instPos" value=7> <!--- Proceeding to step 8 -->
</form>
<font class="emphasis">{LANG_PROCEED_CLICK_BUTTON_BELOW}</font>
</td>
<td class="install-block-right" valign="top">
<!--- menubox -->
<div id="menucontainer">
	<div id="header"><div id="header_left"></div>
	<div id="header_main">{LANG_INSTALL_MENU}</div><div id="header_right"></div></div>
    <div id="content">
        <span class="install-menu-entries">{LANG_INSTALL_STEP_1}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_2}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_3}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_4}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_5}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_6}</span><br>
		<span class="install-menu-actual">{LANG_INSTALL_STEP_7}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_8}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_9}</span>
    </div>
</div>
<!--- menubox -->
</td>
</tr>
</table>

</body>
</html>
<!--- END install adminuser -->