<!--- BEGIN install config write error -->
<!--- Usage: config file writing error box -->
<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/winky/Nuvola_devices_nfs_mount.png" alt="Installer wizard"></td>
<td><h1 class="install-header" align="center">Installer - Configuration file</h1></td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_filesystems_folder_txt.png" alt="Error!"></td>
		<td class="errortitle">Access denied!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">The installer cannot access <tt>config.php</tt> for writing. Make sure the file is writable for the web server user. If you cannot do this or access required files, contact your network administrator.</td>
	</tr>
</table> <!--- copying the errorbox template -->

If you want to retry the writing, click back.
<form method="POST" action="install.php">
<input type="hidden" name="dbhost" value="{DBHOST}">
<input type="hidden" name="dbuser" value="{DBUSER}">
<input type="hidden" name="dbpass" value="{DBPASS}">
<input type="hidden" name="dbname" value="{DBNAME}">
<input type="hidden" name="error_goback" value="yes"> <!--- This is an error return -->
<input type="submit" value="<< Back">
<input type="hidden" name="instPos" value=1> <!--- Going back to step 2 -->
</form>
</td>
<td class="install-block-right" valign="top">
<!--- menubox -->
<div id="menucontainer">
	<div id="header"><div id="header_left"></div>
	<div id="header_main">Menuinstall</div><div id="header_right"></div></div>
    <div id="content">
        <span class="install-menu-entries">1. Introduction</span><br>
		<span class="install-menu-entries">2. Configuration file</span><br>
		<span class="install-menu-actual">3. Writing configuration file.</span><br>
		<span class="install-menu-entries">4. Testing database connection</span><br>
		<span class="install-menu-entries">5. Creating database</span><br>
		<span class="install-menu-entries">6. Creating table structure and content</span><br>
		<span class="install-menu-entries">7. Administrator user</span><br>
		<span class="install-menu-entries">8. Creating Administrator user</span><br>
		<span class="install-menu-entries">9. Finish</span>
    </div>
</div>
<!--- menubox -->
</td>
</tr>
</table>
<!--- END install config variable error -->