<!--- BEGIN install framework tablecreator header -->
<!--- Usage: table creation head frame -->
<html>

<head>
<title>{LANG_INSTALL_INSTALLER} - {LANG_INSTALL_DBTABLES}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>

<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/{THEME_NAME}/Nuvola_devices_raid.png" alt="{LANG_INSTALL_WIZARD}"></td>
<td><h1 class="install-header" align="center">{LANG_INSTALL_INSTALLER} - {LANG_INSTALL_DBTABLES}</h1></td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">

<!--- HERE COMES THE BODY OF THE SCRIPT (errors, succeeds, global error, global succeed) -->
<!--- END install framework tablecreator header -->
