<!--- BEGIN install database tables creator success -->
<!--- Usage: database tables creator success box -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/{THEME_NAME}/Nuvola_devices_nfs_mount.png" alt="Database table creation"></td>
		<td class="successtitle">Table <tt>{TABLENAME}</tt> created successfully</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">Table creation executed successfully.</td>
	</tr>
</table> <!--- copying the successbox template -->
<!--- END install database tables creator success -->