<!--- BEGIN install siteconfig variable error -->
<!--- Usage: site config writing error box (missing variable) -->
<html>

<head>
<title>{LANG_INSTALL_INSTALLER} - {LANG_INSTALL_SITECONFIG}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>

<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/{THEME_NAME}/Nuvola_apps_terminal.png" alt="{LANG_INSTALL_WIZARD}"></td>
<td><h1 class="install-header" align="center">{LANG_INSTALL_INSTALLER} - {LANG_INSTALL_SITECONFIG}</h1></td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_filesystems_folder_txt.png" alt="{LANG_ERROR_EXCLAMATION}"></td>
		<td class="errortitle">{LANG_ERROR_EXCLAMATION}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">{LANG_VAR_REQ_NOT_ENTERED} {LANG_INSTALL_SITECONFIG_VARIABLE_ERROR}</td>
	</tr>
</table> <!--- copying the errorbox template -->

{LANG_TO_RETRY_CLICK_BACK}
<form method="POST" action="install.php">
<input type="hidden" name="error_goback" value="yes"> <!--- This is an error return -->
<input type="submit" value="{LANG_BB_BACK}">
<!--- General -->
<input type="hidden" name="global_title" value="{GLOBAL_TITLE}">
<input type="hidden" name="site_host" value="{SITE_HOST}">
<input type="hidden" name="registration" value="{REGISTRATION}">

<!--- Modules -->
<input type="hidden" name="module_forum" value="{MODULE_FORUM}">
<input type="hidden" name="module_news" value="{MODULE_NEWS}">
<input type="hidden" name="module_freeuniversity" value="{MODULE_FREEUNIVERSITY}">

<!--- Forum -->
<input type="hidden" name="forum_topic_count_per_page" value="{FORUM_TOPIC_COUNT_PER_PAGE}">
<input type="hidden" name="forum_post_count_per_page" value="{FORUM_POST_COUNT_PER_PAGE}">

<!--- News -->
<input type="hidden" name="news_split_value" value="{NEWS_SPLIT_VALUE}">

<!--- Appearance -->
<input type="hidden" name="ins_lang" value="{INSTALL_LANGUAGE}">
<input type="hidden" name="ins_thm" value="{INSTALL_THEME}">
<input type="hidden" name="instPos" value=8> <!--- Going back to step 9 -->
</form>
</td>
<td class="install-block-right" valign="top">
<!--- menubox -->
<div id="menucontainer">
	<div id="header"><div id="header_left"></div>
	<div id="header_main">{LANG_INSTALL_MENU}</div><div id="header_right"></div></div>
    <div id="content">
        <span class="install-menu-entries">{LANG_INSTALL_STEP_1}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_2}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_3}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_4}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_5}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_6}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_7}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_8}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_9}</span><br>
		<span class="install-menu-actual">{LANG_INSTALL_STEP_10}</span><br>
		<span class="install-menu-entries">{LANG_INSTALL_STEP_11}</span>
    </div>
</div>
<!--- menubox -->
</td>
</tr>
</table>

</body>
</html>
<!--- END install siteconfig variable error -->