<!--- BEGIN emoticons -->
<!--- Usage: listing available emoticons on /tool.emot-test.php -->

<h3 align="center">{LANG_EMOTICONS}</h3>

<table border="1" style="width: 100%">
<tr>
	<th>{LANG_EMOTICON}</th>
	<th>{LANG_EMOTICON_CODE}</th>
</tr>
<tr>
	<td>{SMILE1}</td>
	<td>:-)</td>
</tr>
<tr>
	<td>{SAD}</td>
	<td>:-(</td>
</tr>
<tr>
	<td>{GRIN}</td>
	<td>:-D</td>
</tr>
<tr>
	<td>{TONGUE}</td>
	<td>:-P</td>
</tr>
<tr>
	<td>{WINK}</td>
	<td>;-)</td>
</tr>
<tr>
	<td>{CONFUSED}</td>
	<td>:-/</td>
</tr>
<tr>
	<td>{OHMY}</td>
	<td>:-O</td>
</tr>
<tr>
	<td>{COOL}</td>
	<td>:-H</td>
</tr>
<tr>
	<td>{CRY}</td>
	<td>:cry:</td>
</tr>
<tr>
	<td>{WAVE}</td>
	<td>:wave:</td>
</tr>
<tr>
	<td>{SPAM}</td>
	<td>:spam:</td>
</tr>
<tr>
	<td>{OFFTOPIC}</td>
	<td>:offtopic:</td>
</tr>
</table>
<!--- END emoticons -->