<!--- BEGIN f_info -->
<!--- Usage: Freeuniversity infobox -->
<!--- <h3>A weboldalról úgy összességében</h3>
<p>Amit most láttok, az az általam fejlesztett PHP alapú portálmotor 2. 
verziójának (az első verziót megtalálhatod, ha érdekel az 
a programozói világszégyene) eléggé kezdetleges kiadásából született, a Szabadegyetem lebonyolítására összerakott kis rendszerecske. Ez már a harmadik változatunk. Az első változatban (2011. tavasz) az előadók meghívását is itt bonyolítottuk le, de 2012. tavasza óta csak a jelentkezés folyik itt, de az nagy ütemben. A jelenlegi rendszer alig változott valamit a 2012. tavaszi állapothoz képest, tehát az öregebb diákok számára már eléggé ismerős lehet.</p>

<p>A weboldalon az adminisztrátorok által elérhető feladatok a normál 
felhasználóknak nem jelennek meg. Az adminisztrátorok az ilyen feladatokat a 
&bdquo;Virág néni&ldquo; szimbólummal (<img src="themes/winky/freeuniversity_flower.gif" alt="Adminisztrátor specifikus opció/elemeket tartalmaz">) 
ismerhetik fel.</p>-->

<h3>Bejelentkezés</h3>

<p>A rendszerbe való bejelentkezéshez az iskola belső hálózatán (infótermi vagy IKT órára kiadott számítógépek) használt felhasználói neved (amely a nevedből kerül összeállításra, pl. <tt>arvizturo.tukorfurogepne</tt>) és jelszavad (amely egy 5 karakterből álló alfanumerikus, véletlenszerűen generált érték, pl. <tt>a4V5i</tt>) a hitelesítő adat. Amennyiben ezt (még) nem tudod, akkor az osztályfőnöködnél érdeklődj.<br>
<b>FONTOS!</b> Ez a bejelentkezési adat <b><u>nem azonos</u></b> a Tanodán (Moodle) használt belépéseddel.</p>

<h3>Kijelentkezés vagy otthagyás...</h3>
<p>Divat lehet, hogy ha végzünk egy oldalon, akkor nem jelentkezünk ki, csak bezárjuk a böngészőt (meghagyva ezzel az aktív munkamenetet és hadd ne térjek ki az egyéb biztonsági kockázatokra). <b>Kérek mindenkit, hogy ha elvégezte dolgát, jelentkezzen ki.</b> Ha más helyről, más gépről (IP-címről) vagy munkamenet sütivel jelentkezik be, a rendszer óvintézkedéseket tesz, az előző munkamenetet blokkolja. Oda visszatérve pedig az újat, szóval körbeblokkolod magad.<br>
<br>
<!--- Kitaláltam, de <u>ez lesz a rendszer első éles tesztje, csak távolról ismert emberekkel</u> (valódi emberekkel?), <u>távoli szerveren, éles adatokkal.</u> Bármi hiba beüthet, a rendszer kis naplócskát ír amit tudok elemezni, ezt figyelni fogom, ha valami hiba van nekiállok javítani. <b>Ha te is megtapasztalsz valami anomáliát</b> (igyekeztem anomáliamentessé tenni a rendszert, de ha egy hiba kénytelen felhasználói értesítést adni (nem sunnyoghat el a munkanaplóban), ezek a jelentések lényegretörőek és érthetőek), <b>jelezz nekem, például Facebook-on a Távközlési Fórumon, vagy akár személyesen is.</b> Alternatív megoldásként, ha képes vagy a bejelentkezésre, használd a <i>Fórum</i> menüpontot és jelentsd be a hibát.<br> -->
<br>
<!--- Még egyszer leírom: <b><u>ha végeztél, kattints a Kilépés gombra, várd meg a zöld jelzést, és hogy az oldal visszategyen a kezdőlapra. Ezután nyugodtan bezárhatod az ilyen-olyan böngésződet.</u></b></p> -->

<!--- <hr> -->

<h3>A Szabadegyetem Szervezési Site használati utasítása és leírása <i>(Második fázis)</i></h3>
<p>A jelen állapot a második fázis, az előadásokra jelentkezés.</p>

<h4><img src="themes/winky/freeuniversity_flower.gif" alt="Adminisztrátor specifikus opció/elemeket tartalmaz">&nbsp;Előadás hozzáadása</h4>

<p>Az előadás hozzáadásához kattints az <b>Előadás hozzáadása</b> linkre. Az 
előadás hozzáadása érvényes űrlap esetén megtörténik.</p>

<h4>Előadásra jelentkezés</h4>

<p>Az <b>Előadásra jelentkezés</b> linken betöltődik az előadások listája. A 
megfelelő előadás megfelelő gombjára kattintva máris érvényesítheted a 
jelentkezésedet. Ha a gomb nem jelenne meg, akkor az adott előadásra nem tudsz jelentkezni, amelynek okai alább találhatóak.</p>

<h5>Nem jelentkezhetsz egy előadásra, ha:</h5>

<ul>
  <li>Az adott órában már jelentkeztél más előadásra. Először mondd le az előző 
  jelentkezést, majd újra jelentkezhetsz.</li>
  <li>Az adott órában jelentkezett diákok száma elérte a beállított limitet.</li>
  <li>Az adott előadás az adott órában nem kerül megrendezésre.</li>
</ul>

<h4>Előadások megtekintése/lemondása</h4>

<p>Az <b>Előadásaim megtekintése</b> linken a saját előadás jelentkezéseidet 
tekintheted meg. Ha szeretnél egy jelentkezést visszamondani, kattints a <b>
Lemondás</b> gombra.</p>

<h4><img src="themes/winky/freeuniversity_flower.gif" alt="Adminisztrátor specifikus opció/elemeket tartalmaz">&nbsp;Diákok listázása</h4>

<p>A <b>Diákok listázása</b> lehetőségre kattintva először válaszd ki az osztályt, majd 
kattints a gombra. A lista az adott osztály diákjairól megjelenik a választás után. A diákok a nevük szerint nővekvő (A-Z) sorrendben jelennek meg.</p>

<h4><img src="themes/winky/freeuniversity_flower.gif" alt="Adminisztrátor specifikus opció/elemeket tartalmaz">&nbsp;Előadások listázása</h4>

<p>Az <b>Előadások listázása</b> linkre kattintva a listában megtekinthető az előadásokra jelentkezett diákok száma, a határérték és elérhető az előadások szerkesztése illetve törlése.</p>

<h4><img src="themes/winky/freeuniversity_flower.gif" alt="Adminisztrátor specifikus opció/elemeket tartalmaz">&nbsp;Előadás szerkesztése/törlése</h4>

<p>Az <b>Előadások listázása</b> linkre kattintva a listából válaszd ki az 
előadást, majd kattints a megfelelő gombra, a szerkesztéshez vagy törléshez!<br>
<b>FONTOS!</b> Az előadás szerkesztésénél a hallgató limit nem lehet kisebb, 
mint az adott órában már feljelentkezett hallgatók száma. Ha szeretnéd a limitet 
lejjebb venni, először állítsd át az előadás-t az adott órában 'Nem lesz 
megtartva' állapotba, majd vissza, és írd be az új limitet!<br>
<b>FIGYELMEZTETÉS!</b> Ha egy előadás egyik óráját a szerkesztéskor eltörlik, 
vagy az egész előadást eltörlik, az összes feliratkozott diák felszabadul.<br>
A diákok számára kattintva az adott órában jelentkező diákok listája lekérhető.</p>

<!--- <hr>

<h3>Garancia</h3>
<p>A tárhelyszolgáltató nem vállal felelősséget az esetleges 
adatvesztésekért. Erről már gondoskodtam: minden nap legalább egy biztonsági 
mentés létrejön a reggeli órákban (számításaim szerint akkor kb. 0 ember 
látogatni az oldalt egyidőben), melyet e-mailben és <i>WHMPK</i> csomagként is 
megkapok. Ezzel biztosítva egy esetleges adatvesztést. A programkód is el van 
mentve, nagymamámnál a spájzban a kolbászok között, valamint két külső merevlemezen, árnyékmásolaton, DAT-szalagon, ki is van nyomtatva, lassan már álmomból felkelve is tudni fogom.</p>

<hr>

<h3>Hova tovább? <tt>(&bdquo;Ez a bekezdés még 2011. márciusában íródott.&ldquo; - Whisperity, 2012. október)</tt></h3>

<p><i>Előrejelzésem szerint, ha lehetséges, az előadásokra való jelentkezés is itt 
lesz lebonyolítva. Az oldal meg fog maradni, természetesen az előadók 
buherálásának a lehetőségét le fogom zárni. Közben, ha oda eljutok a törzskód 
fejlesztésével, egy gyors merge (összefűzés) is lefuthat. Az összefűzés 
következtében számotokra a régi funkciót nem fognak megváltozni, de a rendszer 
tartalmazni fogja a már említett dinamikus nyelvkezelést, valamint a magrendszer esetleges későbbi támogatását. Szóval ha valaki lesz olyan elmebeteg hardcore, hogy oroszul használja az oldalt, jó egészséget neki! (Feltéve, ha lesz valaki, aki tisztességes fordítást csinál, met magamban és Google Translateban nem bízom...)</i></p>

<p>Túl sok minden került a rendszerben átírásra, az összefűzés még várat magára. A rendszert oroszul használni akarók pedig nem jelentkeztek...</p> -->

<p align="right"><i>Eredményes oldalhasználatot,</i><br><i>Whisperity</i></p>
<!--- END f_info -->