<!--- BEGIN freeuniversity phase error -->
<!--- Usage: error box if we try to access phase-locked free university script -->
<table class="errorbox">
<tr>
<td class="errorpicture"><img src="themes/winky/Nuvola_apps_kmplot.png" alt="Érvénytelen fázis"></td>
<td class="errortitle">Érvénytelen fázis ({FREEUNI_PHASE}.)!</td>
</tr>
<tr>
<td style="width: 1"></td>
<td class="errorbody">A megjeleníteni kívánt Szabadegyetem-modul megtekintéséhez a {REQUIRED_PHASE}. ({REQUIRED_TEXT}) fázisban kell lenni. Mivel ezt a fázist nem értük el, vagy már túlhaladtuk, a modul nem érhető el.</td>
</tr>
</table>
<!--- END freeuniversity phase error -->