<!--- BEGIN moduleerr -->
<!--- Usage: disabled module error box -->
<table class="errorbox"> <!--- copying the errorbox template -->
<tr>
<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_mimetypes_deb.png" alt="{LANG_MODULE_DISABLED}"></td>
<td class="errortitle">{LANG_MODULE_DISABLED}</td>
</tr>
<tr>
<td style="width: 1"></td>
<td class="errorbody">{LANG_MODULE_DISABLED_BODY}<br><br>{LANG_MODULE_DISABLED_BODY_ITSNAMEIS}</td>
</tr>
</table> <!--- copying the errorbox template -->
<!--- END moduleerr -->