<!--- BEGIN template_missing errorbox -->
<!--- Usage: template is loded by the template conductor if the required template file does not exist -->
<table class="errorbox">
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_apps_iconthemes.png" alt="Template missing"></td>
		<td class="errortitle">Template <tt>{TNAME}</tt> does not exist</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">The specified template file does not exist. This template cannot be displayed.</td>
	</tr>
</table>
<!--- END template_missing errorbox -->