<!--- BEGIN template_missing errorbox -->
<!--- Usage: template is loded by the template conductor if the required template file does not exist -->
<table class="errorbox">
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_apps_iconthemes.png" alt="Template missing"></td>
		<td class="errortitle">A sablon (<tt>{TNAME}</tt>) nem létezik</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">A kívánt sablonfájl nem létezik. A sablon nem tölthető be.</td>
	</tr>
</table>
<!--- END template_missing errorbox -->