<!--- BEGIN wf freeuni info phase2 -->
<!--- Usage: general WF information free uni phase TWO (on the index.php) -->
<hr>
<h3>A szabadegyetem szervezési site használati utasítása és leírása <i>(Második fázis)</i></h3>
<p>A jelen állapot a második fázis, az előadásokra jelentkezés.</p>

<h4><img src="themes/winky/freeuniversity_flower.gif" alt="Adminisztrátor specifikus opció/elemeket tartalmaz">&nbsp;Előadás hozzáadása</h4>

<p>Az előadás hozzáadásához kattints az <b>Előadás hozzáadása</b> linkre. Az 
előadás hozzáadása érvényes űrlap esetén megtörténik.</p>

<h4>Előadásra jelentkezés</h4>

<p>Az <b>Előadásra jelentkezés</b> linken betöltődik az előadások listája. A 
megfelelő előadás megfelelő gombjára kattintva máris érvényesítheted a 
jelentkezésedet. Ha a gomb nem jelenne meg, csak a helyén képek, akkor olvasd el 
a táblázat felett megjelenő információt (a jelentkezési oldalon) a képek 
jelentéséről.</p>

<h5>Nem jelentkezhetsz egy előadásra, ha:</h5>

<ul>
  <li>Az adott órában már jelentkeztél más előadásra. Először mondd le az előző 
  jelentkezést, majd újra jelentkezhetsz.</li>
  <li>Az adott órában jelentkezett diákok száma elérte a beállított limitet.</li>
  <li>Az adott előadás az adott órában nem kerül megrendezésre.</li>
</ul>

<h4>Előadások megtekintése/lemondása</h4>

<p>Az <b>Előadásaim megtekintése</b> linken a saját előadás jelentkezéseidet 
tekintheted meg. Ha szeretnél egy jelentkezést visszamondani, kattints a <b>
Lemondás</b> gombra.</p>

<h4><img src="themes/winky/freeuniversity_flower.gif" alt="Adminisztrátor specifikus opció/elemeket tartalmaz">&nbsp;Diákok listázása</h4>

<p>A <b>Diákok listázása</b> lehetőségre kattintva először válaszd ki az osztályt, majd 
kattints a gombra. A lista az adott osztály diákjairól megjelenik a választás után. A diákok a nevük szerint nővekvő (A-Z) sorrendben jelennek meg.</p>

<h4><img src="themes/winky/freeuniversity_flower.gif" alt="Adminisztrátor specifikus opció/elemeket tartalmaz">&nbsp;Előadások listázása</h4>

<p>Az <b>Előadások listázása</b> linkre kattintva a listában megtekinthető az előadásokra jelentkezett diákok száma, a határérték és elérhető az előadások szerkesztése illetve törlése.</p>

<h4><img src="themes/winky/freeuniversity_flower.gif" alt="Adminisztrátor specifikus opció/elemeket tartalmaz">&nbsp;Előadás szerkesztése/törlése</h4>

<p>Az <b>Előadások listázása</b> linkre kattintva a listából válaszd ki az 
előadást, majd kattints a megfelelő gombra, a szerkesztéshez vagy törléshez!<br>
<b>FONTOS!</b> Az előadás szerkesztésénél a hallgató limit nem lehet kisebb, 
mint az adott órában már feljelentkezett hallgatók száma. Ha szeretnéd a limitet 
lejjebb venni, először állítsd át az előadás-t az adott órában 'Nem lesz 
megtartva' állapotba, majd vissza, és írd be az új limitet!<br>
<b>FIGYELMEZTETÉS!</b> Ha egy előadás egyik óráját a szerkesztéskor eltörlik, 
vagy az egész előadást eltörlik, az összes feliratkozott diák felszabadul.</p>
<!--- END wf freeuni info phase2 -->