<!--- BEGIN wf hello -->
<!--- Usage: example template used by /example.framework.php to introduce the framework generation script (as stated in the documentation) -->
<div id="menucontainer"> <!--- we use a menubox -->
	<div id="header"><div id="header_left"></div>
	<div id="header_main">Hello! <img src="themes/{THEME_NAME}/wave.gif" alt="Hello!"></div><div id="header_right"></div></div>
    <div id="content">
        Welcome on the site, <font class="emphasis">{NAME}</font>.<br>
		This site uses WhispyForum version <font class="emphasis">{VERSION}</font> codename <font class="emphasis">{CODENAME}</font>.
    </div>
    <div id="footer"></div>
</div>
<!--- END wf hello -->