<!--- BEGIN freeuniversity add performers sucess -->
<!--- Usage: performers adding performer success, forward form -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/winky/Nuvola_apps_ksnapshot.png" alt="Siker!"></td>
		<td class="successtitle">Sikeresen hozzáadva!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">Az előadó hozzáadása sikerült! Az új előadó Szabad státuszt kapott. Ha szeretnéd magadnak lefoglalni, használd a legfoglalási oldalt.</td>
	</tr>
</table> <!--- copying the successbox template -->
<!--- END registration userdata register error -->