<!--- BEGIN freeuniversity allocate performers tablerow -->
<!--- Usage: performers allocation list table row -->
<tr style="background-color: #B4CDEC">
<td>{PERFORMER_NAME}</td>
<td>{EMAIL}<br>{TELEPHONE}</td>
<td>{COMMENTS}</td>
<td valign="center" align="center">
<form method="POST" action="freeuni_allocate.php">
<input type="hidden" name="performer_id" value="{PERFORMER_ID}">
<input type="submit" value="Lefoglalás">
</form>
</td>
</tr>
<!--- END freeuniversity allocate performers tablerow -->