<!--- BEGIN freeuniversity allocate performers table-open -->
<!--- Usage: performers allocation opening list table -->

A renszer úgy lett kialakítva, hogy az előadókat a felhasználóknak le kelljen foglalniuk. Ez biztonságot nyújt, mivel, ha egy előadó hozzád van lefoglalva, mások nem tudnak a te folyamatodba belenyúlni.<br>
Lefoglalni csak szabad (lefoglalatlan, unallokált) előadókat lehet.<br><br>
(Megjegyzés: az újonnan hozzáadott előadók definíció szerint a szabad tárolóba kerülnek. Egy általad lefoglalt előadót lehetőséged lesz később az <a href="freeuni_manage.php" alt="Általad lefoglalt előadók kezelése">Előadók kezelése</a> oldalon visszaraknod ide a foglalásod lemondásával.)<br><br>

<font class="emphasis">A kiszemelt előadó lefoglalásához kattints az előadó rekordjához tartozó gombra.</font>

<table border="0" style="width: 100%">
<tr>
<th>Előadó neve</th>
<th>Elérhetőség(ek)</th>
<th>Megjegyzés</th>
<th>Lefoglalás</th>
</tr>
<!--- END freeuniversity allocate performers table-open -->