<!--- BEGIN freeuniversity homepage status-definitions -->
<!--- Usage: freeuniversity performer status definitions (to be showed on the homepage) -->
Az előadók négy különböző státusszal rendelkezhetnek:
<ul>
<li><font class="emphasis" style="background-color: #B4CDEC">Szabad</font> A szabad előadók nem lettek senkihez sem hozzárendelve, csak az adatbázisban tartózkodnak. Szabad előadókat a <a href="freeuni_allocate.php" alt="Előadó lefoglalása saját magad részére">Szabad előadó lefoglalása</a> oldalon tudsz lefoglalni. Az újonnan hozzáadott előadók ebben a tárolóban indulnak.</li>
<li><font class="emphasis" style="background-color: #B8B8B8">Lefoglalt</font> A lefoglalt előadók rendelkeznek felhasználói hozzárendeléssel. Egy lefoglalt előadó státuszát csak az tudja módosítani, aki korábban lefoglalta őket. A lefoglalást le lehet mondani, ekkor az előadó visszakerül a szabad tárolóba.
	<ul>
		<li><font class="emphasis" style="background-color: #417FCC">Függőben</font> A függő státusz jelzi azt, hogy a lefoglaló felhasználó az előadó válaszára vár. A frissen lefoglalt előadóknak ez a alapértelmezetten beállított státusz, amikor kikerülnek a szabad tárolóból.</li>
		<li><font class="emphasis" style="background-color: #83A90A">Vállalja</font> A vállalja státusszal rendelkező előadók beleegyeztek az előadás megtartásába.
		<li><font class="emphasis" style="background-color: #E58800">Nem vállalja</font> Az előadó visszautasította az előadás megtartását.
	</ul>
</li>
</ul>
<!--- END freeuniversity homepage status-definitions -->