<!--- BEGIN freeuniversity list edit performers sucess -->
<!--- Usage: performers edition (from list) performer success, forward form -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/winky/Nuvola_filesystems_folder_txt.png" alt="Siker!"></td>
		<td class="successtitle">Sikeresen módosítva!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">Az előadó módosítása sikerült.</td>
	</tr>
</table> <!--- copying the successbox template -->
<!--- END freeuniversity list edit performers sucess -->