<!--- BEGIN freeuniversity list edit performers data -->
<!--- Usage: performers edition (from list) performer data -->
Az előadó módosításához add meg az új adatokat.<br>
<form method="POST" action="freeuni_list_performers.php">
Megjegyzés:<br><textarea name="comments" rows="8" cols="30">{COMMENTS}</textarea><br>
<input type="hidden" name="performer_id" value="{PERFORMER_ID}">
<input type="hidden" name="edit" value="true">
<input type="hidden" name="edit_do" value="yes">
<input type="submit" value="Tovább >>">
</form>
<font class="emphasis">A továbblépéshez kattints a gombra.</font>
<!--- END freeuniversity list edit performers data -->