<!--- BEGIN freeuniversity list manage performers data -->
<!--- Usage: performers edition (from manage) performer data -->
Az előadó módosításához add meg az új adatokat.<br>
<form method="POST" action="freeuni_manage.php">
Megjegyzés:<br><textarea name="comments" rows="8" cols="30">{COMMENTS}</textarea><br>
<input type="hidden" name="performer_id" value="{PERFORMER_ID}">
<input type="hidden" name="new_status" value="edit">
<input type="hidden" name="edit_do" value="yes">
<input type="submit" value="Tovább >>">
</form>
<font class="emphasis">A továbblépéshez kattints a gombra.</font>
<!--- END freeuniversity list manage performers data -->