<!--- BEGIN freeuniversity manage performers head -->
<!--- Usage: performers managing head frame -->
<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/winky/Nuvola_devices_tablet.png" alt="Előadóid kezelése"></td>
<td><h2 class="install-header" align="center">Előadóid kezelése</h2></td>
</tr>
<tr>
<td class="install-picture"></td>
<td>
</td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">
<!--- HERE COMES THE BODY OF THE SCRIPT -->
<!--- END freeuniversity manage performers head -->