<!--- BEGIN freeuniversity manage performers table-open -->
<!--- Usage: performers managing opening list table -->
<font class="emphasis">Az előadó státuszának módosításához kattints a megfelelő gombra az előadóhoz tartozó rekordban.</font>

<table border="0" style="width: 100%">
<tr>
<th>Előadó neve</th>
<th>Elérhetőség(ek)</th>
<th>Megjegyzés</th>
<th>Függőben</th>
<th>Vállalja</th>
<th>Nem vállalja</th>
<th>Előadó lemondása</th>
</tr>
<!--- END freeuniversity manage performers table-open -->