<!--- BEGIN freeuniversity manage edit performers sucess -->
<!--- Usage: performers edition (from manage) performer success, forward form -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/winky/Nuvola_filesystems_folder_txt.png" alt="Siker!"></td>
		<td class="successtitle">Sikeresen módosítva!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">Az előadó módosítása sikerült.</td>
	</tr>
</table> <!--- copying the successbox template -->
<a href="freeuni_manage.php" alt="A hozzád lefoglalt előadók státuszának módosítása"><< Vissza a listához</a>
<!--- END freeuniversity manage edit performers sucess -->