<!--- BEGIN freeuniversity manage performers emailtemplaet -->
<!--- Usage: performers managing template for e-mail contact -->
<h3>Tisztelt {PERFORMER_NAME}!</h3>
 
A budapesti Nagy László Általános Iskola és Gimnázium 2011. április 20-án Szabadegyetemet szervez a megszokott módon. A rendezvényen diákok, tanárok és előadók előadásokat tartanak, a többi diák pedig szabadon választhat, melyiken szeretne részt venni.<br><br>

Örömmel fogadnánk, ha Önök is tartanának előadást ezen a napon, iskolánk területén. Mi a következő témákra gondoltunk: {COMMENTS}, de természetesen más előadást is szívesen fogadunk!<br><br>

A rendezvény 9 órától 13 óráig tart. Lehetőség van 45-50 perces (1 órában), és 1,5 órás (2 órában) előadás megtartására is. Szükség esetén kivetítőt, vásznat és hordozható számítógépet tudunk biztosítani.<br><br>

Válaszát várva tisztelettel:<br>
{USER_NAME},<br>
a Diákönkormányzat megbízottja
<hr>
<a href="freeuni_manage.php" alt="Saját előadóid státuszának kezelése"><< Vissza a listához</a>
<!--- END freeuniversity manage performers emailtemplate -->