<!--- BEGIN freeuniversity editlecture released -->
<!--- Usage: freeuniversity lecture edition release success box (appears when users attending a now-removed lecture is released) -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/{THEME_NAME}/Nuvola_apps_kuser.png" alt="{LANG_SUCCESS_EXCLAMATION}"></td>
		<td class="successtitle">{LANG_FREEUNIVERSITY_EDITLECTURE_RELEASED}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">{LANG_FREEUNIVERSITY_EDITLECTURE_RELEASED_1}</td>
	</tr>
</table> <!--- copying the successbox template -->
<!--- END freeuniversity editlecture released -->
