<!--- BEGIN freeuniversity editlecture success -->
<!--- Usage: freeuniversity lecture edition success box -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/{THEME_NAME}/Nuvola_filesystems_folder_txt.png" alt="{LANG_SUCCESS_EXCLAMATION}"></td>
		<td class="successtitle">{LANG_SUCCESS_EXCLAMATION}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">{LANG_FREEUNIVERSITY_EDITLECTURE_SUCCESS}</td>
	</tr>
</table> <!--- copying the successbox template -->

<form method="GET" action="f_manage.php">
<input type="hidden" name="action" value="list">
<input type="submit" value="{LANG_BB_BACK}">
</form>
<!--- END freeuniversity editlecture success -->
