<!--- BEGIN freeuniversity manage header -->
<!--- Usage: freeuniversity lecture manager head frame -->
<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/{THEME_NAME}/Nuvola_filesystems_desktop.png" alt="{LANG_FREEUNIVERSITY_MANAGE}"></td>
<td><h2 class="install-header" align="center">{LANG_FREEUNIVERSITY_MANAGE}</h2></td>
</tr>
<tr>
<td class="install-picture"></td>
<td></td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">

<!--- HERE COMES THE BODY OF THE SCRIPT -->
<!--- END freeuniversity manage header -->
