<!--- BEGIN freeuniversity manage table-open -->
<!--- Usage: freeuniversity manage lecture listing table header -->

{LANG_FREEUNIVERSITY_MANAGE_USAGE}
<table border="1" class="topics-table">
<tr class="topics-head">
	<th style="width: 45%">{LANG_FREEUNIVERSITY_LECTURE_TITLE}</th>
	<th style="width: 10%">{LANG_FREEUNIVERSITY_HOUR_1}</th>
	<th style="width: 10%">{LANG_FREEUNIVERSITY_HOUR_2}</th>
	<th style="width: 10%">{LANG_FREEUNIVERSITY_HOUR_3}</th>
	<th style="width: 10%">{LANG_FREEUNIVERSITY_HOUR_4}</th>
	<th style="width: 15%" colspan="2">{LANG_ACTIONS}</th>
</tr>
<!--- END freeuniversity manage table-open -->
