<!--- BEGIN freeuniversity print table-open -->
<!--- Usage: freeuniversity register listing table header -->
<font class="emphasis">{LANG_FREEUNIVERSITY_LECTURE_TITLE}:</font>&nbsp;{TITLE}<br>
<font class="emphasis">{LANG_FREEUNIVERSITY_HOUR}:</font>&nbsp;{HOUR}<br>
<br style="clear: both">
<table border="1" class="topics-table">
<tr class="topics-head">
	<th style="width: 25%">{LANG_USERNAME}</th>
	<th style="width: 25%">{LANG_CLASS}</th>
	<th style="width: 50%">{LANG_SIGNATURE}</th>
</tr>
<!--- END freeuniversity print table-open -->
