<!--- BEGIN freeuniversity roster header -->
<!--- Usage: freeuniversity group roster head frame -->
<font class="emphasis">{LANG_CLASS}:</font>&nbsp;{CLASS}<br>
<br style="clear: both">
<table border="1" class="topics-table">
<tr class="topics-head">
	<th style="width: 20%">{LANG_USERNAME}</th>
	<th style="width: 20%">{LANG_FREEUNIVERSITY_HOUR_1}</th>
	<th style="width: 20%">{LANG_FREEUNIVERSITY_HOUR_2}</th>
	<th style="width: 20%">{LANG_FREEUNIVERSITY_HOUR_3}</th>
	<th style="width: 20%">{LANG_FREEUNIVERSITY_HOUR_4}</th>
</tr>
<!--- END freeuniversity roster header -->
