<!--- BEGIN freeuniversity schedule resign -->
<!--- Usage: freeuniversity schedule own lecture listing table container -->

{LANG_FREEUNIVERSITY_SCHEDULE_RESIGN_USAGE}
<table border="1" class="topics-table">
<tr class="topics-head" style="height: 20%">
	<th style="width: 25%">{LANG_FREEUNIVERSITY_HOUR}</th>
	<th style="width: 50%">{LANG_FREEUNIVERSITY_LECTURE_TITLE}</th>
	<th style="width: 25%">{LANG_FREEUNIVERSITY_SCHEDULE_RESIGN}</th>
</tr>
<tr style="height: 20%">
	<th style="width: 25%" align="center" valign="center">{LANG_FREEUNIVERSITY_HOUR_1}</th>
	{HOUR1}
</tr>
<tr style="height: 20%">
	<th style="width: 25%" align="center" valign="center">{LANG_FREEUNIVERSITY_HOUR_2}</th>
	{HOUR2}
</tr>
<tr style="height: 20%">
	<th style="width: 25%" align="center" valign="center">{LANG_FREEUNIVERSITY_HOUR_3}</th>
	{HOUR3}
</tr>
<tr style="height: 20%">
	<th style="width: 25%" align="center" valign="center">{LANG_FREEUNIVERSITY_HOUR_4}</th>
	{HOUR4}
</tr>
</table>
<br style="clear: both">
<!--- END freeuniversity schedule resign -->
