<!--- BEGIN freeuniversity schedule table-row button -->
<!--- Usage: freeuniversity schedule lecture listing table row with attend button -->
<td colspan="{COLSPAN}" align="center" valign="center" style="width: 12.5%"><form method="POST" action="f_schedule.php">
	<input type="hidden" name="id" value="{ID}">
	<input type="hidden" name="hour" value="{HOUR}">
		<input type="hidden" name="action" value="attend">
	<input type="submit" value="{LANG_FREEUNIVERSITY_SCHEDULE_ATTEND}"{DISABLED}>
</form></td>
<!--- END freeuniversity schedule table-row button -->
