<!--- BEGIN activate error -->
<!--- Usage: activation error box (invalid token or username) -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_filesystems_folder_txt.png" alt="{LANG_ERROR_EXCLAMATION}"></td>
		<td class="errortitle">{LANG_ERROR_EXCLAMATION}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">{LANG_ACTIVATE_ERROR}</td>
	</tr>
</table> <!--- copying the errorbox template -->

{LANG_ACTIVATE_PRESS_TO_RETURN_TO_EMPTY_FORM}
<form method="GET" action="activate_user.php">
<input type="submit" value="{LANG_BB_BACK}">
</form>
<!--- END activate error -->
