<!--- BEGIN activate success -->
<!--- Usage: activation success message -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/{THEME_NAME}/Nuvola_apps_kgpg.png" alt="{LANG_SUCCESS_EXCLAMATION}"></td>
		<td class="successtitle">{LANG_SUCCESS_EXCLAMATION}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">{LANG_ACTIVATE_SUCCESS}</td>
	</tr>
</table> <!--- copying the successbox template -->

{LANG_TO_RETURN_HOME_CLICK_BUTTON_BELOW}
<form method="GET" action="index.php">
<input type="submit" value="{LANG_HOMEPAGE_NN}">
</form>
<!--- END activate success -->