<!--- BEGIN activate form -->
<!--- Usage: user activation data form -->
{LANG_ACTIVATE_INFO}<br>
<font class="emphasis">{LANG_MANDATORY_VARIABLES_REDSTAR}</font>
<br><br>
<form method="GET" action="activate_user.php">
<span class="form-header">{LANG_ACTIVATE_FORM_HEADER}</span><br>
{LANG_USERNAME}<span class="red-star">*</span>: <input type="text" name="username" value="{USERNAME}" size=35><br>
{LANG_TOKEN}<span class="red-star">*</span>: <input type="text" name="token" value="{TOKEN}" size=35><br>
{LANG_CLASS}<span class="red-star">*</span>: <input type="text" name="f_class" value="{F_CLASS}" size=5><br>
<font class="emphasis">{LANG_PROCEED_CLICK_BUTTON_BELOW}</font><br>
<input type="submit" value="{LANG_ACTIVATE_BUTTON}">
</form>
<!--- END activate form -->
