<!--- BEGIN user controlpanel avatar uploader filetype error -->
<!--- Usage: user avatar upload error box (file is in a denied format (like BMP)) -->

<meta HTTP-EQUIV="REFRESH" content="5; url=control_user.php?site=avatar_upload"> <!--- redirect to control panel avatar uploader module -->

<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_apps_looknfeel.png" alt="User customization"></td>
		<td class="errortitle">Avatar upload error!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">The file you wanted to upload is in a wrong format ({FILE_TYPE}). Allowed formats are: <font class="emphasis">PNG</font>, <font class="emphasis">JPG</font> or <font class="emphasis">GIF</font>.
		<br><br>You're being redirected to the avatar uploading page...<br>
		<a href="control_user.php?site=avatar_upload">Click here if your browser does not redirect you or if don't want to wait...</a></td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END user controlpanel avatar uploader filetype error -->