<!--- BEGIN user controlpanel avatar uploader -->
<!--- Usage: ucp user avatar uploader -->

{LANG_AVATAR_YOUR_CURRENT} <img src="upload/usr_avatar/{AVATAR_FILENAME}" alt="{LANG_USR_YOUR_AVATAR}"><br>

{LANG_AVATAR_UPLOAD_1} {LANG_AVATAR_UPLOAD_2} <font class="emphasis">PNG</font>, <font class="emphasis">JPG</font> {LANG_OR} <font class="emphasis">GIF</font> {LANG_FILE}. {LANG_AVATAR_UPLOAD_3} <font class="emphasis">150x150 {LANG_PIXELS}</font> {LANG_AVATAR_UPLOAD_4} {LANG_AVATAR_UPLOAD_5} <font class="emphasis">2 MB</font>.

<form enctype='multipart/form-data' action='control_user.php' method='POST'>
		<input name='pic_file' type='file' size='50' accept='application/octet-stream'>
	<input type='submit' name="av_upload" value='{LANG_UPLOAD}'>
	<input type='hidden' name='site' value='avatar_upload'>
</form>

<!--- END user controlpanel avatar uploader -->