<!--- BEGIN user controlpanel avatar uploader success -->
<!--- Usage: user avatar upload success box (avatar upload done) -->

<meta HTTP-EQUIV="REFRESH" content="5; url=control_user.php?site=avatar_upload"> <!--- redirect to control panel avatar uploader module -->

<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_apps_looknfeel.png" alt="User customization"></td>
		<td class="successtitle">Uploaded successfully!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">Your avatar has been refreshed successfully.<br>Your new avatar: <img src="upload/usr_avatar/{AVATAR_FILENAME}" alt="Your avatar"><br>The old avatar's file has been permanently deleted.
		<br><br>You're being redirected where you left off...<br>
		<a href="control_user.php?site=avatar_upload">Click here if your browser does not redirect you or if don't want to wait...</a></td>
	</tr>
</table> <!--- copying the successbox template -->
<!--- END user controlpanel avatar uploader success -->