<!--- BEGIN user controlpanel avatar uploader toobigfile error -->
<!--- Usage: user avatar upload error box (file is too big) -->

<meta HTTP-EQUIV="REFRESH" content="5; url=control_user.php?site=avatar_upload"> <!--- redirect to control panel avatar uploader module -->

<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_apps_looknfeel.png" alt="{LANG_UCP_USER_CUSTOMIZATION}"></td>
		<td class="errortitle">{LANG_AVATAR_UPLOAD} {LANG_ERROR_LOWERCASE_EXCLAMATION}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">{LANG_AVATAR_TOOBIG}
		<br><br>{LANG_AVATAR_REDIRECT}<br>
		<a href="control_user.php?site=avatar_upload">{LANG_REDIRECT_RETURN_LINK}</a></td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END user controlpanel avatar uploader toobigfile error -->