<!--- BEGIN user controlpanel avatar uploader toobigfile error -->
<!--- Usage: user avatar upload error box (file is too big) -->

<meta HTTP-EQUIV="REFRESH" content="5; url=control_user.php?site=avatar_upload"> <!--- redirect to control panel avatar uploader module -->

<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_apps_looknfeel.png" alt="User customization"></td>
		<td class="errortitle">Avatar upload error!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">The file you uploaded is too big! Maximum filesize: 2 MB, but you wanted to upload a big, {FILE_SIZE} sized file.
		<br><br>You're being redirected to the avatar uploading page...<br>
		<a href="control_user.php?site=avatar_upload">Click here if your browser does not redirect you or if don't want to wait...</a></td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END user controlpanel avatar uploader toobigfile error -->