<!--- BEGIN user controlpanel avatar uploader -->
<!--- Usage: ucp user avatar uploader -->

<font class="emphasis">A funkció letiltásra került az Adminisztrátorok által.</font>

<!---
Az aktuális avatarod: <img src="upload/usr_avatar/{AVATAR_FILENAME}" alt="Az avatarod"><br>

Az új avatar feltöltéséhez tallózd be, majd kattins a Feltöltés gombra. Figyelj arra, hogy az avatar kép egy <font class="emphasis">PNG</font>, <font class="emphasis">JPG</font> vagy <font class="emphasis">GIF</font> fájl legyen. Az avatar képméretének legalább <font class="emphasis">150x150 pixelnek</font> kell lennie (a nagyobb képek automatikusan átméreteződnek). A fájl maximális mérete: <font class="emphasis">2 MB</font> lehet.

<form enctype='multipart/form-data' action='control_user.php' method='POST'>
		<input name='pic_file' type='file' size='50' accept='application/octet-stream'>
	<input type='submit' name="av_upload" value='Feltöltés'>
	<input type='hidden' name='site' value='avatar_upload'>
</form>
-->

<!--- END user controlpanel avatar uploader -->