<!--- BEGIN user controlpanel avatar uploader error -->
<!--- Usage: user avatar upload error box (general error) -->

<meta HTTP-EQUIV="REFRESH" content="5; url=control_user.php?site=avatar_upload"> <!--- redirect to control panel avatar uploader module -->

<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_apps_looknfeel.png" alt="Felhasználó testreszabása"></td>
		<td class="errortitle">Avatar feltöltési hiba!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">Az avatarod feltöltése közben hiba történt. A hiba oka általában az, hogy a feltöltési mappa (<tt>upload/usr_avatar</tt>) nem írható (így a fájl nem menthető).
		<br><br>Kérlek próbáld újra. Átirányítunk az avatar feltöltési oldalra...<br>
		<a href="control_user.php?site=avatar_upload">Kattints ide, ha a böngésződ nem irányítana át, vagy nem akarsz várni...</a></td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END user controlpanel avatar uploader error -->