<!--- BEGIN user controlpanel avatar uploader success -->
<!--- Usage: user avatar upload success box (avatar upload done) -->

<meta HTTP-EQUIV="REFRESH" content="5; url=control_user.php?site=avatar_upload"> <!--- redirect to control panel avatar uploader module -->

<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/{THEME_NAME}/Nuvola_apps_looknfeel.png" alt="{LANG_UCP_USER_CUSTOMIZATION}"></td>
		<td class="successtitle">{LANG_UPLOADED_SUCCESSFULLY}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">{LANG_AVATAR_REFRESH_1} <img src="upload/usr_avatar/{AVATAR_FILENAME}" alt="Your avatar"><br>{LANG_AVATAR_REFRESH_2}
		<br><br>{LANG_REDIRECT_WHERE_LEFTOFF}<br>
		<a href="control_user.php?site=avatar_upload">{LANG_REDIRECT_RETURN_LINK}</a></td>
	</tr>
</table> <!--- copying the successbox template -->
<!--- END user controlpanel avatar uploader success -->