<!--- BEGIN user controlpanel forum form topic switch -->
<!--- Usage: ucp user forum preference form (setting topic switcher value) -->
<form method="POST" action="control_user.php">
<input type="hidden" name="site" value="forum">
<input type="hidden" name="set_type" value="topic_switch">
{LANG_UCP_FORUM_TOPICS_PER_PAGE}: <select size="1" name="new_topic_switch_value">
	<option value="5"{5_SELECT}>5</option>
	<option value="15"{15_SELECT}>15</option>
	<option value="30"{30_SELECT}>30</option>
	<option value="50"{50_SELECT}>50</option>
	<option value="100"{100_SELECT}>100</option>
</select>&nbsp;
<input type="submit" value="{LANG_UCP_FORUM_MODIFY}">
</form>
<!--- END user controlpanel forum form topic switch -->