<!--- BEGIN user controlpanel header -->
<!--- Usage: table creation head frame -->
<table class="install-header" border="1">
<tr>
<td class="install-picture"><img src="themes/winky/Nuvola_filesystems_folder_home.png" alt="User control panel"></td>
<td><h2 class="install-header" align="center">User control panel</h2></td>
</tr>
<tr>
<td class="install-picture"></td>
<td><h2 class="install-header" align="center">
<!--- UCP menu -->

<!--- UCP menu -->
</h2></td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="1" class="install-center">
<tr>
<td class="install-block-left">

<!--- HERE COMES THE BODY OF THE SCRIPT -->
<!--- END user controlpanel header -->