<!--- BEGIN user controlpanel header -->
<!--- Usage: ucp head frame -->
<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/winky/Nuvola_filesystems_folder_home.png" alt="Felhasználói vezérlőpult"></td>
<td><h2 class="install-header" align="center">Felhasználói vezérlőpult</h2></td>
</tr>
<tr>
<td class="install-picture"></td>
<td>
<!--- UCP menu -->
<a href="control_user.php?site=avatar_upload" alt="Avatar feltöltése">Avatar feltöltése</a>
<!--- UCP menu -->
</td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">

<!--- HERE COMES THE BODY OF THE SCRIPT -->
<!--- END user controlpanel header -->