<!--- BEGIN user forced logout loginbox -->
<!--- Usage: user forced logout infos box -->
<div id="menucontainer">
	<div id="header"><div id="header_left"></div>
	<div id="header_main">Bejelentkezés letiltva</div><div id="header_right"></div></div>
    <div id="content">
        Az előző kérés le lett tilva többszörös<br>
		bejelentkezés miatt. A bejelentkezés letiltva.
    </div>
	<div id="footer">Kérlek térj vissza a  <a href="index.php">kezdőlap</a>ra. Ott bejelentkezhetsz.</div>
</div>
<br>
<!--- END user foced logout loginbox -->