<!--- BEGIN user forced logout -->
<!--- Usage: user forced logout infos box -->

<meta HTTP-EQUIV="REFRESH" content="5; url=index.php"> <!--- redirect to homepage --> 

<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_apps_kuser.png" alt="Multiple logins"></td>
		<td class="errortitle">Multiple logins aren't supported</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">Your IP address or session differs from the ones stored in the database.<br>It usally means that you're logged in elsewhere while you want to login here.<br>(It can mean that your account is hijacked as well...)
		<br><br>Your session data has been purged form the database. All of your other login isntances will get this error.
		<br><br>Please use the login box again to login to your user. You're being redirected to the homepage...<br>
		<a href="index.php">Click here if your browser does not redirect you or if don't want to wait...</a></td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END user forced logout -->