<!--- BEGIN user forced logout loginbox -->
<!--- Usage: user forced logout infos box -->
<div id="menucontainer">
	<div id="header"><div id="header_left"></div>
	<div id="header_main">Login disabled</div><div id="header_right"></div></div>
    <div id="content">
        The previous login attempt was rejected due to<br>
		session stacking. Login is disabled.
    </div>
	<div id="footer">Go back to the <a href="index.php">homepage</a>. You can login there.</div>
</div>
<br>
<!--- END user foced logout loginbox -->