<!--- BEGIN user forced logout -->
<!--- Usage: user forced logout infos box -->

<!--- don't <meta HTTP-EQUIV="REFRESH" content="5; url=index.php"> <!--- redirect to homepage --> 

<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_apps_kuser.png" alt="Többszörös bejelentkezés"></td>
		<td class="errortitle">A többszörös bejelentkezés nem támogatott</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">Az IP-címed vagy munkamenet-azonosítód eltér az adatbázisban tároltaktól.<br>Ez általában azt jelenti, hogy amíg itt bejelentkezve voltál, máshol is bejelentkeztél.<br>(Fel is törhették a felhasználódat.)
		<br><br>A munkameneted ki lett takarítva az adatbázisból. Minden más hely, ahol beléptél korábban, is ezt a hibaüzenetet fogja kapni.
		<br><br>Kérlek használd a bejelentkező űrlapot a kezdőlapon.
		<a href="index.php">Kezdőlap >></a></td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END user forced logout -->