<!--- BEGIN user forced logout -->
<!--- Usage: user forced logout infos box -->

<!--- don't <meta HTTP-EQUIV="REFRESH" content="5; url=index.php"> <!--- redirect to homepage --> 

<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_apps_kuser.png" alt="{LANG_MULTIPLE_LOGINS}"></td>
		<td class="errortitle">{LANG_MULTIPLE_LOGINS_NOSUPPORT}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">{LANG_MULTIPLE_LOGIN_BODY}<!--- You're being redirected to the homepage...<br>
		<a href="index.php">{LANG_REDIRECT_RETURN_LINK}</a>--> <a href="index.php">{LANG_GOTOTHE} {LANG_HOMEPAGE}</a></td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END user forced logout -->