<!--- BEGIN user loginbox -->
<!--- Usage: user login form -->
<div id="menucontainer">
	<div id="header"><div id="header_left"></div>
	<div id="header_main">Login</div><div id="header_right"></div></div>
    <div id="content">
        <form method="POST" action="login.php">
			Username: <input type="text" name="user_loginname" size="25"><br>
			Password: <input type="password" name="user_password" size="25"><br>
			<input type="hidden" name="returnto" value="{RETURN_TO}">
			<input type="submit" value="Login">
		</form>
    </div>
</div>
<!--- END user loginbox -->