<!--- BEGIN user login error novalue -->
<!--- Usage: user login error box (error: missing mandatory field) -->

<meta HTTP-EQUIV="REFRESH" content="5; url={RETURN_TO_URL}"> <!--- redirect to last page -->

<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_apps_kgpg.png" alt="Bejelentkezési hiba!"></td>
		<td class="errortitle"><tt>{VARIABLE_HEADER}</tt> kötelező</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">{VARIABLE_BODY} mező nem lett kitöltve. Ez a változó kötelező a bejelentkezéshez.
		<br><br>Kérlek használd a bejelentkező űrlapot. Átirányítunk...<br>
		<a href="{RETURN_TO_URL}">Kattints ide, ha a böngésződ nem irányítana át, vagy nem akarsz várni...</a></td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END user login error novalue -->