<!--- BEGIN user login success -->
<!--- Usage: user login success box -->

<meta HTTP-EQUIV="REFRESH" content="3; url={RETURN_TO_URL}"> <!--- redirect to last page -->

<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/{THEME_NAME}/Nuvola_apps_kgpg.png" alt="{LANG_LOGIN_SUCCESS}"></td>
		<td class="successtitle">{LANG_LOGIN_SUCCESS}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">{LANG_LOGIN_SUCCESSFUL}
		<br><br>{LANG_REDIRECT_WHERE_LEFTOFF}<br>
		<a href="{RETURN_TO_URL}">{LANG_REDIRECT_RETURN_LINK}</a></td>
	</tr>
</table> <!--- copying the successbox template -->
<!--- END user login success -->
