<!--- BEGIN user login error -->
<!--- Usage: user login error box (error: wrong username/password) -->

<meta HTTP-EQUIV="REFRESH" content="5; url={RETURN_TO_URL}"> <!--- redirect to last page -->

<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_apps_kgpg.png" alt="Bejelentkezési hiba!"></td>
		<td class="errortitle">Bejelentkezési hiba!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">Az általad beléptetni kívánt felhasználó nem létezik, vagy rossz jelszót adtál meg.
		<br><br>Használd a belépési dobozt a belépéshez. Átirányítunk a előző oldalra...<br>
		<a href="{RETURN_TO_URL}">Kattints ide, ha a böngésződ nem irányítana át, vagy nem akarsz várni...</a></td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END user login error -->