<!--- BEGIN user login success -->
<!--- Usage: user login success box -->

<meta HTTP-EQUIV="REFRESH" content="3; url={RETURN_TO_URL}"> <!--- redirect to last page -->

<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/{THEME_NAME}/Nuvola_apps_kgpg.png" alt="Login success!"></td>
		<td class="successtitle">Login success!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">You've successfully logged in.
		<br><br>You're being redirected where you left off...<br>
		<a href="{RETURN_TO_URL}">Click here if your browser does not redirect you or if don't want to wait...</a></td>
	</tr>
</table> <!--- copying the successbox template -->
<!--- END user login success -->