<!--- BEGIN user login success -->
<!--- Usage: user login success box -->

<meta HTTP-EQUIV="REFRESH" content="3; url={RETURN_TO_URL}"> <!--- redirect to last page -->

<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/winky/Nuvola_apps_kgpg.png" alt="Login success!"></td>
		<td class="successtitle">Sikeres bejelentkezés!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">Sikeresen bejelentkeztél!
		<br><br>Átirányítunk az előző oldara...<br>
		<a href="{RETURN_TO_URL}">Kattints ide, ha a böngésződ nem irányítana át, vagy nem akarsz várni...</a></td>
	</tr>
</table> <!--- copying the successbox template -->
<!--- END user login success -->