<!--- BEGIN user logout success -->
<!--- Usage: user logout success box -->

<meta HTTP-EQUIV="REFRESH" content="3; url=index.php"> <!--- redirect to last page -->

<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/winky/Nuvola_apps_kgpg.png" alt="Logout success!"></td>
		<td class="successtitle">Sikeres kijelentkezés!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">Sikeresen kijelentkeztél. A munkafolyamatod befejeződött.
		<br><br>Átirányítunk a kezdőlapra...<br>
		<a href="index.php">Kattints ide, ha a böngésződ nem irányítana át, vagy nem akarsz várni...</a></td>
	</tr>
</table> <!--- copying the successbox template -->
<!--- END user logout success -->