<!--- BEGIN user logout error nopost -->
<!--- Usage: user logout error box (error: no POST array) -->

<meta HTTP-EQUIV="REFRESH" content="5; url=index.php"> <!--- redirect to index -->

<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_apps_kgpg.png" alt="Kijelentkezési hiba!"></td>
		<td class="errortitle">Direkt megnyitás</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">Úgy tűnik, a lapot direkt módon, vagy érvénytelen hivatkozással nyitották meg.<br>
		Amikor kilépsz, automatikusan átirányításra kerülsz ezen az oldalon keresztül, ahogy a keretrendszer hozzáfér néhány létfontosságú változóhoz. Ezen változók nem találhatóak.
		<br><br>Kérlek használd a felhasználói doboz Kilépés gombját a kezdőlapon. Átirányításra kerülsz...<br>
		<a href="index.php">Kattints ide, ha a böngésződ nem irányítana át, vagy nem akarsz várni...</a></td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END user logout error nopost -->