<!--- BEGIN user logout success -->
<!--- Usage: user logout success box -->
<meta HTTP-EQUIV="REFRESH" content="3; url=index.php"> <!--- redirect to last page -->

<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/{THEME_NAME}/Nuvola_apps_kgpg.png" alt="{LANG_LOGOUT_SUCCESS}"></td>
		<td class="successtitle">{LANG_LOGOUT_SUCCESS}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">{LANG_LOGOUT_SUCCESS_BODY}
		<br><br>{LANG_REDIRECT_MAIN_PAGE}<br>
		<a href="index.php">{LANG_REDIRECT_RETURN_LINK}</a></td>
	</tr>
</table> <!--- copying the successbox template -->
<!--- END user logout success -->