<!--- BEGIN user logout error -->
<!--- Usage: user logout error box -->

<meta HTTP-EQUIV="REFRESH" content="5; url={RETURN_TO_URL}"> <!--- redirect to last page -->

<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_apps_kgpg.png" alt="Logout error!"></td>
		<td class="errortitle">Logout error!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">There were errors logging you out. You stay logged in.
		<br><br>You're being redirected where you left off...<br>
		<a href="{RETURN_TO_URL}">Click here if your browser does not redirect you or if don't want to wait...</a></td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END user logout error -->