<!--- BEGIN user logout error nopost -->
<!--- Usage: user logout error box (error: no POST array) -->

<meta HTTP-EQUIV="REFRESH" content="5; url=index.php"> <!--- redirect to index -->

<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_apps_kgpg.png" alt="{LANG_LOGOUT_ERROR}"></td>
		<td class="errortitle">{LANG_DIRECT_OPENING}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">{LANG_LOGOUT_DIRECT_OPENING}
		<br><br>{LANG_LOGOUT_PLEASEUSEBOX} {LANG_REDIRECT_THERE}<br>
		<a href="index.php">{LANG_REDIRECT_RETURN_LINK}</a></td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END user logout error nopost -->