<!--- BEGIN user logout error nopost -->
<!--- Usage: user logout error box (error: no POST array) -->

<meta HTTP-EQUIV="REFRESH" content="5; url=index.php"> <!--- redirect to index -->

<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_apps_kgpg.png" alt="Logout error!"></td>
		<td class="errortitle">Direct opening</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">It seems to be a direct opening of the logout page.<br>
		When you logout, you're automatically redirected through this page by the engine passing vital variables. Those variables cannot be get.
		<br><br>Please use the logout box on the main page. You're being redirected there...<br>
		<a href="index.php">Click here if your browser does not redirect you or if don't want to wait...</a></td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END user logout error nopost -->