<!--- BEGIN user logout error -->
<!--- Usage: user logout error box -->

<meta HTTP-EQUIV="REFRESH" content="5; url={RETURN_TO_URL}"> <!--- redirect to last page -->

<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_apps_kgpg.png" alt="Kijelentkezési hiba!"></td>
		<td class="errortitle">Kijelentkezés hiba!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">Nem sikerült kijelentkeztetni téged. Bejelentkezve maradsz...
		<br><br>Átirányítunk az előző lapra...<br>
		<a href="{RETURN_TO_URL}">Kattints ide, ha a böngésződ nem irányítana át, vagy nem akarsz várni...</a></td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END user logout error -->