<!--- BEGIN user profile body -->
<!--- Usage: profile body -->
<table border="0" style="width: 100%">
<tr>
	<td valign="top">
		<table border="0" style="width: 100%">
		<tr>
			<td><font class="emphasis">{LANG_USERNAME}:</font></td>
			<td>{USERNAME}</td>
		</tr>
		<tr>
			<td><font class="emphasis">{LANG_EMAIL}:</font></td>
			<td>{EMAIL}</td>
		</tr>
		<tr>
			<td><font class="emphasis">{LANG_REGISTERED}:</font></td>
			<td>{REGDATE}</td>
		</tr>
		<tr>
			<td><font class="emphasis">{LANG_USERLEVEL}:</font></td>
			<td>{LEVEL}</td>
		</tr>
		</table>
	</td>
	<td valign="top">
		<table border="0" style="width: 100%">
		<tr>
			<td colspan="2"><img src="{IMGSRC}" alt="{LANG_USERNAMES_AVATAR}"></td>
		</tr>
		<tr>
			<td><font class="emphasis">{LANG_PROFILE_LOGGEDIN}:</font></td>
			<td><img src="themes/winky/{LOG_STATUS}.png" alt="{LOG_ALT}"></td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td valign="top">
		<table border="0" style="width: 100%">
		<tr>
			<td><font class="emphasis">{LANG_POSTS_COUNT}:</font></td>
			<td>{POST_COUNT}</td>
		</tr>
		<tr>
			<td><font class="emphasis">{LANG_NEWS_COMMENT_COUNT}:</font></td>
			<td>{NEWS_COMMENT_COUNT}</td>
		</tr>
		</table>
	</td>
	<td valign="top">
		<table border="0" style="width: 100%">
		<tr>
			<td><font class="emphasis">{LANG_PROFILE_LANGUAGE}:</font></td>
			<td>{LANGUAGE}</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td valign="top" colspan="2">
	<font class="emphasis">{LANG_BADGES_TOTAL_ACCUMULATED}:</font> {BADGES}/{TOTAL_BADGES} ({BADGES_PERCENT}%)
		<table border="0" style="width: 100%">
		{BADGES_EMBED}
		</table>
	</td>
</tr>
</table>
<!--- END user profile body -->