<!--- BEGIN user profile body -->
<!--- Usage: profile body -->
<table style="width: 100%" border="0">
<tr>
	<td valign="top">
		<table border="0" style="width: 100%">
		<tr>
			<td>{LANG_USERNAME}:</td>
			<td>{USERNAME}</td>
		</tr>
		<tr>
			<td>{LANG_EMAIL}:</td>
			<td>{EMAIL}</td>
		</tr>
		<tr>
			<td>{LANG_REGISTERED}:</td>
			<td>{REGDATE}</td>
		</tr>
		<tr>
			<td>{LANG_USERLEVEL}:</td>
			<td>{LEVEL}</td>
		</tr>
		</table>
	</td>
	<td valign="top">
		<table border="0" style="width: 100%">
		<tr>
			<td colspan="2"><img src="{IMGSRC}" alt="{LANG_USERNAMES_AVATAR}"></td>
		</tr>
		<tr>
			<td>{LANG_PROFILE_LOGGEDIN}:</td>
			<td><img src="themes/winky/{LOG_STATUS}.png" alt="{LOG_ALT}"></td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td valign="top">
		<table border="0" style="width: 100%">
		<tr>
			<td>{LANG_UCP_FORUM_TOPICS_PER_PAGE}:</td>
			<td>{FORUM_TOPICS_PER_PAGE}</td>
		</tr>
		<tr>
			<td>{LANG_UCP_FORUM_POSTS_PER_PAGE}:</td>
			<td>{FORUM_POSTS_PER_PAGE}</td>
		</tr>
		<tr>
			<td>{LANG_POSTS_COUNT}:</td>
			<td>{POST_COUNT}</td>
		</tr>
		</table>
	</td>
	<td valign="top">
		<table border="0" style="width: 100%">
		<tr>
			<td>{LANG_PROFILE_LANGUAGE}:</td>
			<td>{LANGUAGE}</td>
		</tr>
		</table>
	</td>
</tr>
</table>
<!--- END user profile body -->