<!--- BEGIN recover begin activate error -->
<!--- Usage: password recovery (first step) error box (inactivated account) -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_filesystems_folder_txt.png" alt="{LANG_ERROR_EXCLAMATION}"></td>
		<td class="errortitle">{LANG_ERROR_EXCLAMATION}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">{LANG_PWDRECOVER_ACTIVATE_ERROR}</td>
	</tr>
</table> <!--- copying the errorbox template -->

{LANG_PRESS_TO_RETURN_TO_EMPTY_FORM}
<form method="GET" action="pwd_recover_begin.php">
<input type="submit" value="{LANG_BB_BACK}">
</form>
<!--- END recover begin activate error -->