<!--- BEGIN recover do -->
<!--- Usage: password recovery (second step) page -->
{LANG_PWDRECOVER_DO_INFO}<br>
<font class="emphasis">{LANG_MANDATORY_VARIABLES_REDSTAR}</font>
<br><br>
<form method="POST" action="pwd_recover_do.php">
<span class="form-header">{LANG_PWDRECOVER_FORM_HEADER}</span><br>
{LANG_USERNAME}<span class="red-star">*</span>: <input type="text" name="username" value="{USERNAME}" size=35><br>
{LANG_TOKEN}<span class="red-star">*</span>: <input type="text" name="token" value="{TOKEN}" size=35><br>
{LANG_PASSWORD}<span class="red-star">*</span>: <input type="password" name="pass1" value="" size=35><br>
{LANG_PASSWORD_AGAIN}<span class="red-star">*</span>: <input type="password" name="pass2" value="" size=35><br>
<font class="emphasis">{LANG_PROCEED_CLICK_BUTTON_BELOW}</font><br>
<input type="hidden" name="step" value="do">
<input type="submit" value="{LANG_PWDRECOVER_DO_BUTTON}">
</form>
<!--- END recover do -->