<!--- BEGIN registration userdata emailallocated error -->
<!--- Usage: user registration email in use error box -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_filesystems_folder_txt.png" alt="Hiba!"></td>
		<td class="errortitle">Hiba!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">A kívánt e-mail cím már használatban van. Ezt az e-mail címet nem regisztrálhatod, mivel az kompatibilitási problémákhoz vezethet.</td>
	</tr>
</table> <!--- copying the errorbox template -->
<form method="POST" action="registration.php">
<input type="hidden" name="username" value="{USERNAME}">
<input type="hidden" name="password" value="{PASSWORD}">
<input type="hidden" name="password_again" value="{PASSWORD_AGAIN}">
<input type="hidden" name="email" value="{EMAIL}">
<input type="hidden" name="error_goback" value="yes"> <!--- This is an error return -->
<input type="submit" value="<< Vissza">
<input type="hidden" name="regPos" value=1> <!--- Going back to step 2 -->
</form>
<!--- END registration userdata emailallocated error -->