<!--- BEGIN registration userdata -->
<!--- Usage: user registration information form -->
To register a new user, you must enter it's login credientals into the boxes below. Further user information (like sign, profile box, avatar) could be set in the Control Panel after login.<br>
<font class="emphasis">Variables marked with a red star (<span class="red-star">*</span>) are required to be entered.</font>
<br><br>
<form method="POST" action="registration.php">
<span class="form-header">New user's login information</span><br>
Username<span class="red-star">*</span>: <input type="text" name="username" value="{USERNAME}" size=35><br>
Password<span class="red-star">*</span>: <input type="password" name="password" value="{PASSWORD}" size=35><br>
Password (again)<span class="red-star">*</span>: <input type="password" name="password_again" value="{PASSWORD_AGAIN}" size=35><br>
E-mail address<span class="red-star">*</span>: <input type="text" name="email" value="{EMAIL}" size=35><br>
<input type="submit" value="Next >>">
<input type="hidden" name="regPos" value=2> <!--- Proceeding to step 3 -->
</form>
<font class="emphasis">To proceed, please click the button below.</font>
<!--- END registration userdata -->