<!--- BEGIN registration userdata register success -->
<!--- Usage: registration succes, forward form -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/winky/Nuvola_apps_kgpg.png" alt="Success!"></td>
		<td class="successtitle">Register successful!</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">You've been registered successfully.</td>
	</tr>
</table> <!--- copying the successbox template -->

You can proceed to the next step.
<form method="POST" action="registration.php">
<input type="submit" value="Next >>">
<input type="hidden" name="regPos" value=3> <!--- Going to step 4 -->
</form>
<!--- END registration userdata register error -->