<!--- BEGIN registration start -->
<!--- Usage: first registration screen with introduction -->
<h3>Üdvözlünk! <img src="themes/winky/wave.gif" alt="Hello!"></h3>

Az <i>Nagy László Gimnázium Diákönkormányzatának Szabadegyetem Szervezési Site</i> oldalára (továbbiakban: oldal) való regisztrálással elfogadod, hogy nem töltesz fel sértegető, obszcén, vulgáris, rágalmazó, gyűlöletkeltő, támadó, közízlést sértő, vagy sérült jogi háttérrel rendelkező tartalmat. Az oldal vezetői az Adminisztrátorok és Moderátorok (továbbiakban: vezetőség), kérdés esetén hozzájuk lehet fordulni segítségért.<br><br>
Az Adminisztrátorok a felhasználók által feltöltött tartalomért felelősséget <b>NEM</b> vállalnak, azonban, ha kétes tartalmat (ld. fentebb) találsz az oldalon, ezt jelezheted nekünk, a szükséges intézkedéseket meglépjük.<br><br>
Elfogadod, hogy egy esetleges adatvesztés esetén nem inzultálod a Vezetőséget. A külső forrásból érkező támadásokkal szemben próbáljuk magunkat megvédeni, de a hackerek úgyis egy lépéssel előttünk járnak. Az adatvesztés elkerülése érdekében rendszeres biztonsági mentést készítünk, melyeket szükség esetén visszaállítunk. A kritikus rendszereseményekről a fejlécben megjelenő <font style="color: orange; font-weight: bold">narancssárga</font> doboz értesít.<br><br>
Amennyiben a megjelent Szabályzattal nem értesz egyet, kérlek ne fogadd el, és ne is látogasd tovább az oldalt. A továbblépéssel elfogadtad a szabályzatot<!---<font style="font-size: 8pt">, és a diákönkormányzat felsőbbrendűségét</font>-->.<br>

<br>
<table class="successbox">
<tr>
<td class="successpicture"><img src="themes/winky/Nuvola_devices_nfs_mount.png" alt="Regisztráció státusza"></td>
<td class="successtitle">A regisztráció nyitott</td>
</tr>
<tr>
<td style="width: 1"></td>
<td class="successbody">A működési házirend és az adatbázis ellenőrzése SIKERREL tért vissza, a regisztráció engedélyezve.</td>
</tr>
</table>
<br>

<font class="emphasis">A folytatáshoz kattints a gombra.</font>

<!--- proceed form -->
<form method="POST" action="registration.php">
<input type="submit" value="Tovább >>">
<input type="hidden" name="regPos" value=1> <!--- Proceeding to step 2 -->
</form>

<!--- END registration start -->