<!--- BEGIN registration disabled -->
<!--- Usage: registration error box (registration is disabled) -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_filesystems_folder_locked.png" alt={LANG_ERROR_EXCLAMATION}"></td>
		<td class="errortitle">{LANG_REGISTRATION_DISABLED}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">{LANG_REG_DISABLED_ERROR}</td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END registration disabled -->