<!--- BEGIN user registration header -->
<!--- Usage: registration head frame -->
<table class="install-header" border="1">
<tr>
<td class="install-picture"><img src="themes/winky/Nuvola_apps_kgpg.png" alt="Registration"></td>
<td><h2 class="install-header" align="center">Registration</h2></td>
</tr>
<tr>
<td class="install-picture"></td>
<td>
</td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="1" class="install-center">
<tr>
<td class="install-block-left">

<!--- HERE COMES THE BODY OF THE SCRIPT -->
<!--- END user registration header -->