<!--- BEGIN registration userdata variable error -->
<!--- Usage: user registration empty variable error box -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_filesystems_folder_txt.png" alt="{LANG_ERROR_EXCLAMATION}"></td>
		<td class="errortitle">{LANG_ERROR_EXCLAMATION}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">{LANG_VAR_REQ_NOT_ENTERED} {LANG_REG_VAR_NULL_CANNOT_CONTINUE}</td>
	</tr>
</table> <!--- copying the errorbox template -->

{LANG_TO_RETRY_CLICK_BACK}
<form method="POST" action="registration.php">
<input type="hidden" name="username" value="{USERNAME}">
<input type="hidden" name="password" value="{PASSWORD}">
<input type="hidden" name="password_again" value="{PASSWORD_AGAIN}">
<input type="hidden" name="email" value="{EMAIL}">
<input type="hidden" name="f_class" value="{F_CLASS}">
<input type="hidden" name="error_goback" value="yes"> <!--- This is an error return -->
<input type="submit" value="{LANG_BB_BACK}">
<input type="hidden" name="regPos" value=1> <!--- Going back to step 2 -->
</form>
<!--- END registration userdata variable error -->