<!--- BEGIN user registration header -->
<!--- Usage: registration head frame -->
<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/{THEME_NAME}/Nuvola_apps_kgpg.png" alt="{LANG_REG}"></td>
<td><h2 class="install-header" align="center">{LANG_REG}</h2></td>
</tr>
<tr>
<td class="install-picture"></td>
<td>
</td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">

<!--- HERE COMES THE BODY OF THE SCRIPT -->
<!--- END user registration header -->