<!--- BEGIN registration userdata -->
<!--- Usage: user registration information form -->
{LANG_REG_DATA_INFO}<br>
<font class="emphasis">{LANG_MANDATORY_VARIABLES_REDSTAR}</font>
<br><br>
<form method="POST" action="registration.php">
<span class="form-header">{LANG_REG_DATA_FORM_HEADER}</span><br>
{LANG_USERNAME}<span class="red-star">*</span>: <input type="text" name="username" value="{USERNAME}" size=35><br>
{LANG_PASSWORD}<span class="red-star">*</span>: <input type="password" name="password" value="{PASSWORD}" size=35><br>
{LANG_PASSWORD_AGAIN}<span class="red-star">*</span>: <input type="password" name="password_again" value="{PASSWORD_AGAIN}" size=35><br>
{LANG_EMAIL}<span class="red-star">*</span>: <input type="text" name="email" value="{EMAIL}" size=35><br>
<font class="emphasis">{LANG_PROCEED_CLICK_BUTTON_BELOW}</font><br>
<input type="submit" value="{LANG_NEXT_NN}">
<input type="hidden" name="regPos" value=2> <!--- Proceeding to step 3 -->
</form>
<!--- END registration userdata -->