<!--- BEGIN registration start -->
<!--- Usage: first registration screen with introduction -->
<h3>{LANG_HELLO_EXCLAMATION} <img src="themes/{THEME_NAME}/emoticons/wave.gif" alt="{LANG_HELLO_EXCLAMATION}"></h3>

<!--- I THINK WE SHOULD INCLUDE LICENSE INFORMATION HERE -->

<font class="emphasis">{LANG_PROCEED_CLICK_BUTTON_BELOW}</font>

<!--- proceed form -->
<form method="POST" action="registration.php">
<input type="submit" value="{LANG_NEXT_NN}">
<input type="hidden" name="regPos" value=1> <!--- Proceeding to step 2 -->
</form>

<!--- END registration start -->
