<!--- BEGIN unaviable error loggedin -->
<!--- Usage: logged in user unaviable page error -->

<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/winky/Nuvola_apps_error.png" alt="Unaviable for guests"></td>
		<td class="errortitle">This page is unaviable for registered users</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">This page requires you to be a guest to view it's contents.
		<br><br>Please use the control box to log out from the site. After that, you can view this page.</td>
	</tr>
</table> <!--- copying the errorbox template -->
<!--- END unaviable error loggedin -->