<!--- BEGIN user control-logout freeuniversity links -->
<!--- Usage: user controlbox and logout form giving clickable links to free university things -->
<h4>Szabadegyetem - Előadók szervezése</h4>
		<a href="freeuni_add_performer.php" alt="Ezt használva egy új előadót vehetsz fel az adatbázisba">Új előadó felvétele az adatbázisba</a><br>
		<img src="themes/{THEME_NAME}/freeuniversity_flower.gif" alt="Virág néni"><a href="freeuni_list_performers.php" alt="Az előadók listázása szofisztikált formában">Előadók listázása</a><br>
		<a href="freeuni_manage.php" alt="Általad lefoglalt előadók kezelése">Saját előadóim kezelése</a><br>
		<a href="freeuni_allocate.php" alt="Előadó lefoglalása saját magad részére">Szabad előadó lefoglalása</a>
<!--- END user control-logout freeuniversity links -->