/* WhispyForum CMS-forum portálrendszer
 *  http://code.google.com/p/whispyforum/
 *
 * style.css
 *  témaleíró
 */

@charset "iso-8859-2";
body {  } /* Normál testszöveg */

/* Dobozok */
div.leftbox { width: 25%;
	height: 85%;
	position:relative;
	float:left }
div.centerbox { width: 50%;
	height: 85%;
	position:relative;
	float:left }
div.rightbox { width: 25%;
	height: 85%;
	position:relative;
	float:left }
div.headerbox { width: 100%;
	height: 7% }
div.footerbox { width: 100%;
	height: 7% }

div.messagebox { background-color: #FEDCBA; }

/* Menü */
div.menubox { font-family: Comic Sans MS;
	font-size: 10pt;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #ABCDEF;
	border: 1px dashed #0099CC } 
	
span.menutitle { font-size:10.5pt;
	font-weight: bold }

a.menuitem { margin-left: 10px }

/* Regisztráció */
span.regNem { margin-left: 10px;
	color: #5B00FF }
span.regThis { margin-left: 10px;
	color: #543210 }

/* Hibaüzenet box */
div.hibabox { width:100%;
	height:100px;
	margin:0;
	padding:0 }
	
div.hibacim { font-family:MS Sans Serif;
	font-size:14pt;
	text-decoration:underline;
	font-weight:bold;
	margin-left:80px  }

div.hibakep { width:80px;
	position:absolute;
	float:left;
	height:80px  }

div.hibaszoveg { margin-left: 80px }

/* Ûrlapok */
input { border: 1px solid #0099CC;
	background-color: #FFFFFF;
	color: #000000; }
	
p.formText   { font-family: Microsoft Sans Serif;
	font-size: 10pt }

input:focus { border-style: dashed }

textarea { border: 1px solid #0099CC;
	background-color: #FFFFFF;
	color: #000000; }

textarea:focus { border-style: dashed }

span.formHeader {font-family: Times New Roman;
	font-size: 14pt;
	font-style: italic }

form { background-color: #CCCCCC}

span.star { color: #FF0000;
	font-weight: bold } /* * szimbólum (pl. 'A *-gal jelölt mezõk kitöltése kötelezõ */
	
/* Elküldési ûrlapmezõ <fieldset> */
fieldset.submit-buttons {
	text-align: center;
	vertical-align: middle;
}

fieldset.submit-buttons input {
	vertical-align: middle;
}

/* Felhasználói box */
div.userbox { background-color: #CCCCCC }

/* Regisztráció */
span.regHeader { font-family:Verdana;
	font-size:13pt;
	font-weight:bold }

/* Kis felbukkanó szövegdobozkák egérmozgatáskor */

a:hover.feature-extra {
    background-color: transparent;
	text-decoration:none;
 	cursor: help;
}

.feature-extra span.hover {
    background-color: #FFFFFF;
	display: none;
	border: 2px solid #000000;
	position: absolute;
	color: #333333;
	text-decoration: none;
	width: 250px;
	padding: 6px;
	margin: 10px;
}

.feature-extra span.hover span.h3 {
	margin-top: 1px;
	color: #000000;
	border-bottom: 1px solid #BBBBBB;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	margin-bottom: 3px;
	padding-bottom: 2px;
}

a:hover.feature-extra span.hover {
	display:block;
	text-decoration:none;
}

table.table1 tbody td.break {
	padding:0;
	padding-top:4px;
}

blockquote.website {
	font-size: 1em;
	margin-left: 0;
}

span.inlinecode
{
	background-color:#EFEFEF;
	border:1px solid #DDDDDD;
	color:#2E8B57;
	font-family:Monaco,"Andale Mono","Courier New",Courier,mono;
	font-size:1.2em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	overflow:auto;
}

/* -- Fórum -- */
/* Fórum,téma lista */
table.forum { background-color:#ABCDEF;
	border:1px solid #0099CC;
	}

th.forumheader { }

td.forumlist { }

/* Hozzászólások */
.post {
	padding: 0 10px;
	margin-bottom: 4px;
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.postbody {
	padding: 0;
	color: #667281;
	width: 70%;
	float: left;
	clear: both;
}

p.header {
	margin: 0 15em 0.6em 0;
	padding: 0 0 5px 0;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
}

 .postbody .content {
	
}
.content {
	overflow: hidden;
	color: #000000;
	padding-bottom: 1px;
}

.postprofile {
	margin: 5px 0 10px 0;

	color: #000000;
	border-left: 1px solid #FFFFFF;
	width: 25%;
	float: right;
	display: inline;
}

h3.postheader { color: #666666 }
h2.header { color: #777777 }

div.postbox { width: 80%;
	position:relative;
	float:left }
div.postright { width: 20%;
	position:relative;
	float:left }