<!--- BEGIN forums create error -->
<!--- Usage: forum creating form, sql error box -->
<table class="errorbox"> <!--- copying the errorbox template -->
	<tr>
		<td class="errorpicture"><img src="themes/{THEME_NAME}/Nuvola_filesystems_folder_locked.png" alt="{LANG_ERROR_EXCLAMATION}"></td>
		<td class="errortitle">{LANG_ERROR_EXCLAMATION}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="errorbody">{LANG_FORUMS_EDIT_SQL_ERROR}</td>
	</tr>
</table> <!--- copying the errorbox template -->

{LANG_TO_RETRY_CLICK_BACK}
<form method="POST" action="forum.php">
<input type="hidden" name="forum_id" value="{FORUM_ID}">
<input type="hidden" name="title" value="{TITLE}">
<input type="hidden" name="desc" value="{DESC}">
<input type="hidden" name="minlevel" value="{MINLEVEL}">
<input type="hidden" name="action" value="edit">
<input type="hidden" name="error_goback" value="yes"> <!--- This is an error return -->
<input type="submit" value="{LANG_BB_BACK}">
</form>
<!--- END forums create error -->