<!--- BEGIN posts edit form -->
<!--- Usage: post edition form, getting new post data -->
<font class="emphasis">{LANG_MANDATORY_VARIABLES_REDSTAR}</font>

<form method="POST" action="viewposts.php">
<span class="form-header">{LANG_POSTS_EDIT_HEADER}</span><br>
{LANG_POSTS_TITLE}: <input type="text" name="post_title" value="{POST_TITLE}" size=35><br>
{LANG_POSTS_POST}<span class="red-star">*</span>:<br>
<textarea class="forum-post-field" rows="15" cols="50" name="post_content">{POST_CONTENT}</textarea><br>
<input type="hidden" name="post_id" value="{POST_ID}">
<input type="hidden" name="id" value="{TOPIC_ID}">
<input type="hidden" name="start_at" value="{START_AT}">
<input type="hidden" name="action" value="edit">
<input type="hidden" name="edit_do" value="yes">
<input type="submit" value="{LANG_POSTS_EDIT}">
</form>
<!--- END posts edit form -->