<!--- BEGIN posts edit success -->
<!--- Usage: post edition form, success box -->
<table class="successbox"> <!--- copying the successbox template -->
	<tr>
		<td class="successpicture"><img src="themes/{THEME_NAME}/Nuvola_filesystems_folder_txt.png" alt="{LANG_SUCCESS_EXCLAMATION}"></td>
		<td class="successtitle">{LANG_POSTS_EDIT_SUCCESS_HEAD}</td>
	</tr>
	<tr>
		<td style="width: 1"></td>
		<td class="successbody">{LANG_POSTS_EDIT_SUCCESS}</td>
	</tr>
</table> <!--- copying the successbox template -->

<form method="GET" action="viewposts.php">
<input type="hidden" name="id" value="{TOPIC_ID}">
<input type="hidden" name="start_at" value="{START_AT}">
<input type="submit" value="{LANG_POSTS_BACKTOLIST}">
</form>
<!--- END posts edit success -->