<!--- BEGIN posts row with title -->
<!--- Usage: row for one post having title -->
<tr>
	<td class="post-info">
	<a name="p{ID}">
		<table style="width: 100%" border="0">
			<tr>
				<td class="poster-name" align="center" valign="top">{USERNAME}</td>
			</tr>
		</table>
		<p align="center"><img class="post-usr-image" src="{IMGSRC}" alt="{LANG_USERNAMES_AVATAR}"></p>
		<p align="center">
			<small>{LANG_REGISTERED} {REGDATE}.</small><br>
			<img src="themes/winky/{LOG_STATUS}.png" alt="{LOG_ALT}">
		</p>
	</td>
	<td class="post-post-container" valign="top">
		<table class="post-post-container" border="0">
			<tr>
				<td class="post-head" align="left" valign="top">{TITLE}</td>
				<td class="post-head" align="right" valign="top">{DATE}</td>
			</tr>
			<tr>
				<td class="post-post" colspan="2">{TEXT}</td>
			</tr>
		</table>
		
		<table border="1" align="right">
			<tr>
				<td>{EDIT}</td>
				<td>{DELETE}</td>
			</tr>
		</table>
	</td>
</tr>
<!--- END posts row with title -->