<!--- BEGIN tables head -->
<!--- Usage: header for table list -->
<table class="install-header" border="0">
<tr>
<td class="install-picture"><img src="themes/{THEME_NAME}/Nuvola_apps_ksirc.png" alt="{LANG_TOPICS}"></td>
<td><h2 class="install-header" align="center">{LANG_TOPICS}</h2></td>
</tr>
<tr>
<td class="install-picture"></td>
<td></td>
</tr>
</table>

<!--- We need to crate a new <table> because of modified sizes -->

<table border="0" class="install-center">
<tr>
<td class="install-block-left">

<!--- HERE COMES THE BODY OF THE SCRIPT -->
<!--- END tables head -->