<!--- BEGIN topics edit form -->
<!--- Usage: topic edition form, getting new topic data -->
<font class="emphasis">{LANG_MANDATORY_VARIABLES_REDSTAR}</font>

<form method="POST" action="viewtopics.php">
<span class="form-header">{LANG_TOPICS_EDIT_HEADER}</span><br>
{LANG_TOPICS_TITLE}<span class="red-star">*</span>: <input type="text" name="title" value="{TITLE}" size=35><br>
{LANG_TOPICS_CREATE_LOCK}: <input type="radio" name="lock" value="0"{LOCK_NO}>{LANG_NO}&nbsp;<input type="radio" name="lock" value="1"{LOCK_YES}>{LANG_YES}<br>
{LANG_TOPICS_CREATE_HIGHLIGHT}: <input type="radio" name="highlight" value="0"{HIGHLIGHT_NO}>{LANG_NO}&nbsp;<input type="radio" name="highlight" value="1"{HIGHLIGHT_YES}>{LANG_YES}<br>
<input type="hidden" name="topic_id" value="{TOPIC_ID}">
<input type="hidden" name="id" value="{FORUM_ID}">
<input type="hidden" name="start_at" value="{START_AT}">
<input type="hidden" name="action" value="edit">
<input type="hidden" name="edit_do" value="yes">
<input type="submit" value="{LANG_TOPICS_EDIT}">
</form>
<!--- END topics edit form -->